@charset "UTF-8";
/* Указываем box sizing */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class], ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

@-webkit-keyframes coin {
  /*from*/
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    /*Начальные свойства*/
  }
  /*to*/
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    /*Конечные свойства*/
  }
}

@keyframes coin {
  /*from*/
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    /*Начальные свойства*/
  }
  /*to*/
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    /*Конечные свойства*/
  }
}

@-webkit-keyframes click-Obj {
  /*from*/
  0% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
    /*Начальные свойства*/
  }
  /*to*/
  100% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
    /*Конечные свойства*/
  }
}

@keyframes click-Obj {
  /*from*/
  0% {
    -webkit-transform: translateX(-450px);
            transform: translateX(-450px);
    /*Начальные свойства*/
  }
  /*to*/
  100% {
    -webkit-transform: translateX(450px);
            transform: translateX(450px);
    /*Конечные свойства*/
  }
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header {
  height: 100px;
  border: 5px solid #50C878;
}

.header__money-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__money {
  color: green;
}

.header__money span {
  color: black;
}

.header__coin {
  width: 25px;
  height: 25px;
  -webkit-animation-name: coin;
          animation-name: coin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.header__click-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__click img {
  margin-right: 5px;
}

.page__click-obj {
  width: 250px;
  height: 100px;
  border: 3px solid black;
  margin-top: 50px;
  margin: 50px auto;
  -webkit-animation-name: click-Obj;
          animation-name: click-Obj;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.page__img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 9px;
}

.shop__title {
  text-align: center;
}

.shop__title span {
  font-size: 16px;
}

.shop__lots-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.shop__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop__improv {
  color: green;
}

.shop__improv::before {
  content: '+';
}

.shop__price {
  color: #FF1100;
  margin-left: auto;
  font-weight: 600;
}

.shop__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shop__sum-buy {
  color: blue;
}

.shop__sum-buy::before {
  content: 'ALL:';
  color: blue;
}

.shop-time__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.shop-time__lot > img {
  width: 160px;
  height: 160px;
}

.shop-time__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-time__improv {
  color: green;
}

.shop-time__improv::before {
  content: '+ ';
}

.shop-time__price {
  margin-left: auto;
  color: #FF1100;
  font-weight: 600;
}

.shop-time__sum-buy {
  color: blue;
}

.shop-time__sum-buy::before {
  content: 'ALL:';
}

.shop-time__buy-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
