@charset "UTF-8";

.container__catalog {
  max-width: 1170px;
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #484D62;
  font-family: "Lato-Bold";
}

h3 {
  margin: 0px 0px 35px 0px;
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-size: 16px;
  color: #484D62;
}

h5 {
  margin: 0px 0px 25px 0px;
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #484D62;
}

h6 {
  margin: 0px 0px 25px 0px;
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #626987;
}

.catalog__inner {
  display: flex;
  justify-content: space-between;
}

.hide {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

@font-face {
  font-family: "Lato-Bold";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  font-display: swap;
  src: url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato-Regular";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Указываем box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

body {
  padding: 61px 0px 0px 0px;
  font-family: 'Lato-Regular';
  line-height: inherit;
}

.main-bg {
  width: 785px;
  height: 767px;
  background: url("../images/bg1.svg") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
}

header {
  width: 100%;
  padding: 7px 0px 11px 0px;
  background: #ffffff;
  position: fixed !important;
  top: 0px;
  z-index: 100;
  box-shadow: inset 0px -1px 0px #DADADA;
}

.logo {
  width: 100px;
  display: inline-block;
}

.logo img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.header-nav {
  margin: 0px 70px 0px 0px;
}

.header-nav a {
  margin: 0px 47px 0px 0px;
  font-size: 14px;
  line-height: 24px;
  color: #484D62;
  transition: 0.3s ease;
}

.header-nav a:last-of-type {
  margin: 0px 0px 0px 0px;
}

.header-nav a:hover {
  color: #9F6EAF;
  text-decoration: none;
}

.header-nav .header-city {
  padding: 0px 0px 0px 35px;
  background: url("../images/location.svg") left center no-repeat;
  color: #9F6EAF;
}

.header-nav .header-city:hover {
  color: #484D62;
}

.header-info {
  margin: 0px 26px 0px 0px;
}

.header-info a {
  margin: 0px 26px 0px 0px;
  padding: 0px 0px 0px 25px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #9D9D9D;
  text-decoration: none;
}

.header-info a:last-of-type {
  margin: 0px 0px 0px 0px;
}

.header-info .active {
  font-family: 'Lato-Bold';
  color: #484D62;
}

.header-info .fav {
  background: url("../images/fav.svg") left center no-repeat;
}

.header-info .ord {
  background: url("../images/ord.svg") left center no-repeat;
}

.header-info .mes {
  background: url("../images/mes.svg") left center no-repeat;
}

.header-balance {
  margin: 0px 20px 0px 0px;
}

.header-balance {
  margin: 0px 20px 0px 0px;
  font-size: 14px;
  line-height: 24px;
  color: #626987;
}

.header-balance span {
  font-family: var(--bs-font-sans-serif);
}

.header-balance a {
  margin: 0px 3px 0px 0px;
  color: #32BDB4;
  transition: 0.3s ease;
}

.header-balance a:hover {
  color: #626987;
  text-decoration: none;
}

.header-actions a {
  margin: 0px 25px 0px 0px;
  font-size: 14px;
  line-height: 24px;
  color: #32BDB4;
  transition: 0.3s ease;
}

.header-actions a:hover {
  color: #626987;
  text-decoration: none;
}

.header-actions .add {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 31px;
  background: url("../images/add.svg") left center no-repeat;
}

.search {
  padding: 11px 0px 0px 0px;
}

.search .menu-butt {
  height: 39px;
  padding: 0px 19px 0px 19px;
  background: #32BDB4 url("../images/menu.svg") right 19px center no-repeat;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s ease;
}

.search .menu-butt:hover {
  opacity: 0.9;
}

.search-radios {
  margin: 0px 0px 10px 0px;
}

.search-radios .form-radio {
  margin: 0px 20px 0px 0px;
  opacity: 0.9;
}

.search-radios input[type="radio"] {
  display: none;
}

.search-radios input[type="radio"] + label:before {
  content: '';
  width: 14px;
  height: 14px;
  border: 1px solid #9D9D9D;
  border-radius: 100%;
  margin: 0px 4px 0px 0px;
  cursor: pointer;
}

.search-radios input[type="radio"]:checked + label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: #2B70E4;
  border-radius: 100%;
  position: absolute;
  left: 4px;
  top: 4px;
}

.search-radios label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  line-height: 12px;
  color: #9D9D9D;
  position: relative;
}

.form-fields .search-input {
  width: calc(50% - 86px);
}

.form-fields .search-input input {
  height: 39px;
  padding: 0px 15px 0px 15px;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  font-family: 'Lato-Italic';
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
  box-shadow: none !important;
  outline: none;
}

.form-fields .search-input input::-webkit-input-placeholder {
  color: #9D9D9D;
}

.form-fields .search-input input::-moz-placeholder {
  color: #9D9D9D;
  opacity: 1;
}

.form-fields .search-select {
  width: 50%;
}

.form-fields .search-select select {
  height: 39px;
  padding: 0px 15px 0px 15px;
  border: 1px solid #9D9D9D;
  border-radius: 5px;
  font-family: 'Lato-Italic';
  font-size: 14px;
  line-height: 17px;
  color: #9D9D9D;
  box-shadow: none !important;
  outline: none;
}

.form-fields button {
  width: 68px;
  background: #2B70E4 url("../images/search.svg") center center no-repeat;
  border-radius: 5px;
  border: 0 none;
  transition: 0.3s ease;
}

.form-fields button:hover {
  opacity: 0.9;
}

.company {
  margin: 45px 0px -40px 0px;
}

.company2 {
  margin: 0px 0px 0px 0px;
}

.company h1 {
  margin: 0px 0px 45px 0px;
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-size: 44px;
  line-height: 53px;
  color: #484D62;
  text-transform: uppercase;
}

.company .item {
  width: 100%;
  height: 280px;
  background: #ffffff;
  border: 1px solid #EAECF3;
  border-radius: 10px;
  margin: 0px 0px 40px 0px;
}

.company .item .item-desc {
  width: 51%;
  padding: 15px 10px 15px 20px;
  position: relative;
}

.company .item .item-title {
  height: 58px;
  margin: 0px 0px 20px 0px;
  overflow: hidden;
}

.company .item .item-title a {
  font-family: 'Lato-Bold';
  font-size: 24px;
  line-height: 29px;
  color: #626987;
  text-decoration: none;
}

.company .item .item-text p {
  margin: 0px 0px 15px 0px;
  font-size: 14px;
  line-height: 17px;
  color: #484D62;
}

.company .item .item-img {
  width: calc(49% - 10px);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.company .item .item-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.company .item .item-img .play {
  width: 80px;
  height: 80px;
  background: url("../images/play.svg") center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  transition: 0.3s ease;
}

.company .item .item-img:hover .play {
  opacity: 0.9;
}

.company .item .item-img a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.company .item .butt1 {
  position: absolute;
  left: 20px;
  bottom: 15px;
}

.company .item-height {
  height: 417px;
  margin: 0px 0px 40px 0px;
}

.company .col-md-4:nth-of-type(1) .item2,
.company .col-md-4:nth-of-type(2) .item2,
.company .col-md-4:nth-of-type(3) .item2,
.company .col-md-4:nth-of-type(4) .item2,
.company .col-md-4:nth-of-type(5) .item2 {
  z-index: 3;
}

.company .item2 {
  min-height: 100%;
  background: #ffffff;
  border: 1px solid #EAECF3;
  border-radius: 10px;
  transition: 0.3s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.company .item2:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.company .item2 .item-img {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.company .item2 .item-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.company .item2 .item-desc {
  width: 100%;
  padding: 15px 10px 13px 20px;
}

.company .item2 .item-title {
  height: 29px;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
}

.company .item2 .item-title a {
  font-family: 'Lato-Bold';
  font-size: 24px;
  line-height: 29px;
  color: #626987;
  text-decoration: none;
}

.company .item2 .item-text p {
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 17px;
  color: #626987;
}

.company2 .company2-butts {
  margin: 0px 0px 30px 0px;
  display: flex;
}

.company2 .company2-butts .butt1 {
  font-size: 17px;
  line-height: 19px;
}

.company2 .company2-butts .butt2 {
  margin: 0px 0px 0px 15px;
  background: #32BDB4;
}

.item-cats {
  display: flex;
  flex-wrap: wrap;
}

.item-cats span {
  margin: 0px 10px 7px 0px;
  padding: 5px 10px 5px 10px;
  background: #EAECF3;
  border-radius: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #626987;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.item-cats span a {
  color: #626987;
  text-decoration: none;
  transition: 0.3s ease;
}

.item-cats span:hover {
  background: #2B70E4;
  color: #ffffff;
}

.item-cats span:hover a {
  color: #ffffff;
}

.item-cats2 span {
  margin: 0px 5px 5px 0px;
  padding: 5px 5px 5px 5px;
  border: 1px solid #EAECF3;
  background: #ffffff;
}

.butt1 {
  min-width: 150px;
  margin: 0px 0px 0px 0px;
  padding: 10px 15px 10px 15px;
  background: #2B70E4;
  border-radius: 10px;
  border: 0 none;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.butt1:hover {
  color: #ffffff;
  opacity: 0.9;
}

.butt3 {
  padding: 9px 15px 9px 15px;
  border: 1px solid #626987;
  border-radius: 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #626987;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.butt3:hover {
  background: #626987;
  color: #ffffff;
  opacity: 0.9;
}

.butt4 {
  border: 1px solid #32BDB4;
  color: #32BDB4;
}

.butt4:hover {
  background: #32BDB4;
  color: #ffffff;
}

.title-info {
  width: 70%;
  margin: 0px 0px 40px 0px;
  font-family: 'Lato-Bold';
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #626987;
}

.advantages {
  margin: 70px 0px 0px 0px;
}

.advantages h3 {
  margin: 0px 0px 20px 0px;
}

.advantages-st h5 {
  text-transform: uppercase;
}

.advantages .tab-pane {
  padding: 43px 0px 50px 54px;
  border: 1px solid #EAECF3;
  border-radius: 10px;
  position: relative;
}

.advantages .tab-pane.active {
  display: flex;
}

.advantages .tab-desc {
  width: 420px;
}

.advantages .tab-title {
  margin: 0px 0px 25px 0px;
  font-family: 'Lato-Bold';
  font-size: 36px;
  line-height: 43px;
  color: #484D62;
}

.advantages .tab-desc p {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 0px 12px;
  border-left: 3px solid #2B70E4;
  font-size: 14px;
  line-height: 17px;
  color: #626987;
}

.advantages .tab-ico {
  width: 70px;
  height: 70px;
  margin: 0px 67px 0px 0px;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.advantages .tab-pane:nth-of-type(1) .tab-ico {
  background: url("../images/a1.svg");
}

.advantages .tab-pane:nth-of-type(2) .tab-ico {
  background: url("../images/a2.svg");
}

.advantages .tab-pane:nth-of-type(3) .tab-ico {
  background: url("../images/a3.svg");
}

.advantages .tab-pane:nth-of-type(4) .tab-ico {
  background: url("../images/a4.svg");
}

.advantages .tab-pane:nth-of-type(5) .tab-ico {
  background: url("../images/a5.svg");
}

.advantages .tab-pane:nth-of-type(6) .tab-ico {
  background: url("../images/a6.svg");
}

.advantages .tab-pane img {
  width: 475px;
  height: auto;
  vertical-align: bottom;
  position: absolute;
  right: 88px;
  top: -66px;
}

.advantages .nav-tabs {
  margin: 28px 0px 0px 0px;
}

.advantages .nav-item {
  margin: 0px 40px 0px 0px;
}

.advantages .nav-item:last-of-type {
  margin: 0px 0px 0px 0px;
}

.advantages .nav-link {
  width: 80px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0 none;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #484D62;
  text-align: center;
}

.advantages .nav-item .nav-link:before {
  content: '';
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: 0px 0px 6px 0px;
  background-size: 50% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.advantages .nav-item:nth-of-type(1) .nav-link:before {
  background: #ffffff url("../images/a1.svg");
}

.advantages .nav-item:nth-of-type(1) .nav-link.active:before {
  background: #2B70E4 url("../images/a1h.svg");
}

.advantages .nav-item:nth-of-type(2) .nav-link:before {
  background: #ffffff url("../images/a2.svg");
}

.advantages .nav-item:nth-of-type(2) .nav-link.active:before {
  background: #2B70E4 url("../images/a2h.svg");
}

.advantages .nav-item:nth-of-type(3) .nav-link:before {
  background: #ffffff url("../images/a3.svg");
}

.advantages .nav-item:nth-of-type(3) .nav-link.active:before {
  background: #2B70E4 url("../images/a3h.svg");
}

.advantages .nav-item:nth-of-type(4) .nav-link:before {
  background: #ffffff url("../images/a4.svg");
}

.advantages .nav-item:nth-of-type(4) .nav-link.active:before {
  background: #2B70E4 url("../images/a4h.svg");
}

.advantages .nav-item:nth-of-type(5) .nav-link:before {
  background: #ffffff url("../images/a5.svg");
}

.advantages .nav-item:nth-of-type(5) .nav-link.active:before {
  background: #2B70E4 url("../images/a5h.svg");
}

.advantages .nav-item:nth-of-type(6) .nav-link:before {
  background: #ffffff url("../images/a6.svg");
}

.advantages .nav-item:nth-of-type(6) .nav-link.active:before {
  background: #2B70E4 url("../images/a6h.svg");
}

.advantages .nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.providers {
  margin: 70px 0px 0px 0px;
}

.line-title {
  width: 100%;
  margin: 0px 0px 45px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-title .title-wrap {
  display: flex;
  align-items: center;
}

.line-title h5 {
  margin: 0px 0px 4px 0px;
}

.butt-grey {
  margin: 0px 0px 0px 40px;
  padding: 10px 15px 10px 50px;
  background: #EAECF3 url("../images/plus.svg") left 16px center no-repeat;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #626987;
  text-decoration: none;
  transition: 0.3s ease;
}

.butt-grey2 {
  background: #EAECF3 url("../images/mans.svg") left 16px center no-repeat;
}

.butt-grey3 {
  background: #EAECF3 url("../images/cat.svg") left 16px center no-repeat;
}

.butt-grey:hover {
  color: #626987;
  opacity: 0.8;
}

.providers .providers-wrap {
  --bs-gutter-x: 1.5rem;
  width: calc(100% + var(--bs-gutter-x) * +1);
  max-width: inherit;
  margin-left: calc(var(--bs-gutter-x) * -.5);
  margin-right: calc(var(--bs-gutter-x) * -.5);
}

.providers .item {
  padding: 15px 15px 15px 15px;
  border: 1px solid #EAECF3;
  border-radius: 10px;
  --bs-gutter-x: 1.5rem;
  margin-right: calc(var(--bs-gutter-x) * +.5);
  margin-left: calc(var(--bs-gutter-x) * +.5);
  display: flex !important;
}

.providers .item .item-logo {
  width: 95px;
  height: 95px;
  margin: 0px 20px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-items .cat-item3 .cat-item-top .butt3 {
  margin: 11px 0px 0px 0px;
}

.acc-panel {
  padding: 15px 0px 15px 0px;
  background: linear-gradient(90deg, #2B70E4 0.6%, #E559FF 50.44%, #45ADC1 96.3%);
}

.acc-panel h1 {
  margin: 0px 0px 5px 0px;
  font-size: 27px;
  line-height: 32px;
  color: #FFFFFF;
  font-weight: normal;
}

.panel-breadcrumbs {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.panel-breadcrumbs a {
  color: #FFFFFF;
}

.panel-breadcrumbs a:hover {
  text-decoration: none;
}

.panel-breadcrumbs .del {
  margin: 0px 5px 0px 5px;
}

.acc-panel .panel-referal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Lato-Bold';
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

.acc-panel .panel-referal a {
  font-family: 'Lato-Regular';
  color: #FFFFFF;
  text-decoration: none;
}

.acc-panel .panel-referal #copy-partner {
  border-bottom: 1px dotted #ffffff;
  cursor: pointer;
}

.tooltip-inner {
  max-width: 300px !important;
  background: #ffffff;
  font-size: 14px !important;
  line-height: 17px !important;
  color: #626987;
  box-shadow: 0 20px 21px rgba(13, 20, 31, 0.14);
}

.acc-panel .panel-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.panel-info .info-avatar {
  width: 51px;
  height: 51px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0px 20px 0px 0px;
}

.panel-info .info-avatar img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.panel-info .butt3 {
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  color: #ffffff;
}

.panel-info .butt3:hover {
  background: #ffffff;
  color: #000000;
}

.info-menu {
  margin: 0px 60px 0px 0px;
}

.info-menu-inner .profile-menu {
  box-shadow: 0 20px 21px rgba(13, 20, 31, 0.14);
  border-radius: 2px;
  background-color: #ffffff;
  padding: 15px 35px;
  position: absolute;
  z-index: 10;
  display: none;
  top: calc(100% + 10px);
}

.info-menu-inner .profile-menu p {
  margin: 10px 0px;
  font-size: 13px;
  line-height: 17px;
}

.info-menu-inner .profile-menu p a {
  color: #828282;
}

.info-menu-inner .profile-menu p a:hover {
  text-decoration: none;
}

.info-menu-inner {
  position: relative;
}

.profile-menu-toggle {
  border-bottom: 1px dashed #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.panel-info .info-status {
  margin: 6px 0px 0px 0px;
  display: flex;
}

.info-status .status-butt {
  width: 115px;
  margin: 0px 5px 0px 0px;
  background: #D9D9D9;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 25px;
  color: #777777;
  cursor: pointer;
}

.info-status .status-butt span {
  padding: 0px 0px 0px 20px;
  background: url("../images/ico35.svg") left center no-repeat;
}

.info-status .status-butt.active {
  background: #ffffff;
  color: #000000;
}

.info-status .status-butt.active span {
  background: url("../images/ico36.svg") left center no-repeat;
}

.acc-menu {
  margin: 22px 0px 30px 0px;
}

.acc-menu .acc-menu-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.acc-menu .acc-menu-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.acc-menu a {
  height: 35px;
  padding: 0px 23px 0px 23px;
  border: 1px solid #DADADA;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease;
}

.acc-menu a span {
  width: 100%;
  display: block;
  font-size: 11px;
  line-height: 13px;
  color: #9D9D9D;
  transition: 0.3s ease;
}

.acc-menu a:hover,
.acc-menu a.active {
  border: 1px solid #32BDB4;
  color: #32BDB4;
}

.acc-menu a:hover span,
.acc-menu a.active span {
  color: #32BDB4;
}

.acc-menu a u {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.acc-menu a i {
  width: 20px;
  height: 20px;
  background: #32BDB4;
  border-radius: 100%;
  margin: 0px 0px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  font-style: normal;
}

.acc-menu2 {
  margin: 0px 0px 17px 0px;
  display: flex;
  justify-content: space-between;
}

.acc-menu2 a {
  height: 34px;
  padding: 0px 23px 0px 23px;
  background: #EAECF3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
  color: #626987;
  text-decoration: none;
  transition: 0.3s ease;
}

.acc-menu2 a:hover,
.acc-menu2 a.active {
  background: #2B70E4;
  color: #ffffff;
}

.catalog__form-title {
  margin-bottom: 20px;
}

.catalog__form-questions {
  margin-bottom: 23px;
}

.catalog__form-create {
  color: #32BDB4;
  font-size: 14px;
  padding-left: 35px;
  position: relative;
  margin-bottom: 40px;
  display: block;
}

.catalog__form-create::before {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  background-image: url("../img/catalog-plus.svg");
  left: 0;
  top: -6px;
}

.catalog__form-button-inner {
  display: flex;
  margin-bottom: 23px;
}

.catalog__form-button {
  display: block;
  padding: 10px;
  border: 1px solid #32BDB4;
  background-color: #fff;
  cursor: pointer;
}

.catalog__form-button input#file-upload-button {
  display: none;
}

.catalog__form-button + .catalog__form-button {
  margin-left: 25px;
}

.catalog__form-but {
  color: #32BDB4;
  text-decoration: none;
  cursor: pointer;
}

.catalog__fomr-video {
  display: block;
  color: #626987;
  font-size: 12px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 46px;
}

.catalog__fomr-video::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url("../img/YouTube.svg");
  left: 0;
  top: -6px;
}

.catalog-form__title {
  margin-bottom: 17px;
}

.catalog-form__inner {
  display: flex;
  width: 100%;
}

.catalog-form__inner + .catalog-form__inner {
  margin-top: 21px;
  margin-bottom: 28px;
}

.catalog-form__input input {
  width: 100%;
  height: 35px;
  background-color: #ECEAEA;
  border-radius: 5px;
  border: none;
  display: block;
}

.catalog-form__input input:focus {
  outline: none;
}

.catalog-form__input:nth-child(1) {
  flex: 1 1 330px;
  margin-right: 18px;
}

.catalog-form__input:nth-child(2) {
  flex: 1 1 464px;
}

.catalog-form__button {
  width: 244px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #2B70E4;
  color: #fff;
  font-size: 14px;
  margin-bottom: 15px;
}

.catalog-fomr__title {
  font-size: 14px;
  color: #626987;
  margin-bottom: 10px;
  display: block;
}

.catalog__form-web {
  flex: 1 1 330px;
  background-color: #ECEAEA;
  border: none !important;
  height: 35px;
  color: #626987;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 14px;
  display: block;
  font-size: 14px;
  width: 100%;
}

.catalog__form-web:focus {
  outline: none;
}

.catalog__form-web option {
  padding: 0;
}

.catalog__info {
  flex: 0 1 288px;
  padding: 19px 30px;
  border: 1px solid #EAECF3;
  border-radius: 10px;
  align-self: flex-start;
}

.catalog-aside__button-inner {
  margin-bottom: 29px;
}

.catalog-aside__button {
  width: 100%;
  border-radius: 5px;
  height: 35px;
  border: none;
  background-color: #32BDB4;
  margin-bottom: 10px;
  font-size: 14px;
}

.catalog-aside__button a {
  text-decoration: none;
}

.catalog-aside__button:nth-child(2) {
  background-color: #EAECF3;
}

.catalog-aside__button:nth-child(2) a {
  color: #626987;
}

.catalog-aside__but {
  color: #fff;
}

.catalog-aside__but:nth-child(2) {
  color: #626987;
}

.catalog-aside__title {
  font-size: 12px;
  color: #000;
  font-weight: 700;
  padding-left: 23px;
  position: relative;
  margin-bottom: 10px;
}

.catalog-aside__title::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 18px;
  background-image: url("../img/lamp.svg");
  left: 0;
  top: -4px;
}

.catalog-aside__list {
  margin-bottom: 26px !important;
}

.catalog-aside__punct {
  display: flex;
  margin-bottom: 3px;
}

.catalog-aside__number {
  font-size: 12px;
  color: #C4C4C4;
  font-weight: 700;
  margin-right: 12px;
}

.catalog-aside__text {
  font-size: 12px;
  color: #000;
}

.catalog-aside__post-inner {
  margin-bottom: 23px;
}

.catalog-aside__post-inner.active {
  display: none;
}

.catalog-aside__title-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog-aside__hide {
  font-size: 10px;
  color: #545454;
  margin-bottom: 10px;
  cursor: pointer;
}

.catalog-aside__post {
  padding-left: 23px;
}

.catalog-aside__post + .catalog-aside__post {
  margin-top: 11px;
}

.catalog-aside__data {
  font-size: 10px;
  color: #9D9D9D;
}

.catalog-aside__link {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  color: #32BDB4;
}

.aside-news .catalog-aside__text {
  margin-bottom: 10px;
  display: block;
}

.aside-news__block {
  padding-bottom: 10px;
}

.aside-news__block + .aside-news__block {
  border-top: 1px solid #DADADA;
  padding-top: 10px;
}

.aside-news__block-inner {
  display: flex;
  justify-content: space-between;
}

.aside-news__date {
  font-size: 10px;
  color: #9D9D9D;
  margin-bottom: 5px;
  display: block;
}

.catalog-aside__title2 {
  font-size: 12px;
  color: #000;
  font-weight: 700;
  padding-left: 23px;
  position: relative;
  margin-bottom: 10px;
}

.catalog-aside__title2::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 18px;
  background-image: url("../img/list.svg");
  left: 0;
  top: -4px;
}

.side-news__img {
  flex: 0 0 40px;
  height: 42px;
  overflow: hidden;
}

.aside-news__content {
  max-width: 160px;
}

.catalog__title {
  margin-bottom: 20px;
}

.catalog__button-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 38px;
}

.button__button-item {
  display: flex;
}

.progres__button {
  padding: 10px;
  background-color: #EAECF3;
  border: none;
  display: block;
}

.progres__button + .progres__button {
  margin-left: 10px;
}

.progres__button.active {
  background-color: #2B70E4;
  border-radius: 3px;
}

.progres__button.active .progres__link {
  color: #fff;
}

.progres__link {
  color: #484D62;
  font-size: 12px;
  font-family: 'lato-regular';
  text-decoration: none;
}

.dow__button {
  display: block;
  padding: 10px;
  border: 1px solid #DADADA;
  background-color: #fff;
}

.dow__button + .dow__button {
  margin-left: 15px;
}

.dow__but {
  text-decoration: none;
  font-size: 12px;
  color: #9D9D9D;
}

@media (max-width: 1200px) {
  .container__catalog {
    padding: 0 15px;
  }
}

@media (max-width: 1000px) {
  .catalog__info {
    display: none;
  }
}

@media (max-width: 930px) {
  .catalog__button-inner {
    flex-direction: column;
  }

  .button__button-item + .button__button-item {
    margin-top: 10px;
  }
}

@media (max-width: 930px) and (max-width: 560px) {
  .button__button-item {
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .progres__button + .progres__button {
    margin-left: 0;
  }

  .dow__button + .dow__button {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .catalog-form__inner {
    flex-direction: column;
  }

  .catalog-form__input:nth-child(1) {
    flex: auto;
    margin-right: 0;
    margin-bottom: 21px;
  }

  .catalog-form__input:nth-child(2) {
    flex: auto;
  }

  .catalog-form__button {
    margin: 0 auto;
    display: block;
  }

  .catalog-fomr__title {
    margin-bottom: 5px;
  }
}