@charset "UTF-8";

/* Указываем box sizing */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 40px;
  background: #414141;
  background: -o-linear-gradient(37deg, #414141 0%, #353535 100%);
  background: linear-gradient(53deg, #414141 0%, #353535 100%);
  padding: 10px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  max-width: 200px;
}

.header__botton {
  color: #fff;
  text-decoration: none;
  background-color: green;
  line-height: 1;
  padding: 10px 25px;
  border-radius: 5px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.casino__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.casino__wrapper {
  padding-top: 100px;
}

.casino__main {
  margin-right: 25px;
}

.casino__main .casino__link-img {
  display: block;
  margin-bottom: 20px;
}

.casino__title {
  text-align: center;
  margin-bottom: 35px;
  font-size: 30px;
}

.casino__text {
  font-size: 16px;
  display: block;
  margin-bottom: 15px;
}

.casino__button {
  padding: 15px 35px;
  background-color: orange;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  margin-bottom: 25px;
}

.casino__sub-title {
  font-size: 23px;
  margin-bottom: 15px;
}

.coments__block {
  max-width: 500px;
  border: 1px solid lightgray;
  padding: 20px;
}

.coments__block + .coments__block {
  margin-top: 40px;
}

.coments__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.coments__logo {
  height: 60px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60px;
  flex: 0 0 60px;
  -ms-flex-item-align: center;
  align-self: center;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 50px;
}

.casino__aside {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 300px;
  flex: 1 0 300px;
}

.casino__aside .casino__link-img {
  margin-bottom: 25px;
  display: block;
}

.casino__aside2 {
  margin-right: 30px;
}

.casino__vidjet {
  position: fixed;
  right: 20px;
  bottom: 15px;
  display: none;
}

.casino__vidjet.active {
  display: block;
}

.vigjet__close {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 150px;
  }

  .header__botton:nth-child(3) {
    display: none;
  }

  .casino__aside {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__logo {
    width: 120px;
  }

  .header__botton {
    padding: 7px 15px;
    font-size: 14px;
  }

  .header__botton:nth-child(2) {
    display: none;
  }

  .casino__vidjet {
    display: none;
  }

  .casino__vidjet.active {
    display: none;
  }
}