@charset "UTF-8";

/* Указываем box sizing */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: Arial,  sans-serif;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: gray;
  height: 50px;
  margin-bottom: 100px;
}

.header__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 50px;
}

.header__link {
  text-decoration: none;
  font-size: 30px;
  color: #000;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.header__link.active {
  color: orange;
}

.header__link:hover {
  font-size: 32px;
  color: orange;
}

.article__title {
  margin-bottom: 30px;
}

.article__img {
  margin-bottom: 20px;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.article__img.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.article__inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  margin-bottom: 30px;
}

.article__colum {
  font-style: italic;
}

.article__sub-title {
  margin-bottom: 20px;
}

.article-footer {
  padding: 15px 0;
  margin-top: 100px;
  color: #fff;
  background-color: gray;
}

.article-footer__inner {
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-footer__info a {
  color: #fff;
}

.article-footer__list {
  display: block;
}

.article-footer__link {
  color: #fff;
  cursor: pointer;
}

.article-footer__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .article__inner {
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .article-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .article-footer__item {
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .header__lists {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__link {
    font-size: 20px;
  }

  .header__link:hover {
    font-size: 23px;
    color: orange;
  }

  .article__inner {
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 20px;
  }
}