/*-------------tape-------------*/
$grey:#747474;

.products {

  &__filt{
    width: 65px;
    height: 33px;
    border: 1px solid grey;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition-duration: 0.3s;
    &.active label{
      display: block;
    }
    &.active span::before{
      transform: rotateX(180deg);
    }
    label{
      position: absolute;
      width: 80px;
      height: 100px;
      background-color: #fff;
      padding: 10px;
      top: 33px;
      display: none;
      &.active{
        display: block;
      }
    }
    span{
      font-size: 14px;
      color: $black;
      position: relative;
      margin-right: 10px;
      &::before{
        position: absolute;
        content: '';
        width: 9px;
        height: 5px;
        background-image: url("../Main-img/arr.png");
        right: -15px;
        top: 8px;
      }
    }
  }
  // .products__tape

  &__tape {
    display: flex;
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 25px;
  }

  // .products__block

  &__block {
    max-width: 270px;
    height: 320px;
    padding: 15px;
    margin-right: 30px;
    cursor: pointer;
    transition-duration: 0.3s;
    &:hover{
      box-shadow: 0 0 4px#EBEBEB;
    }
    &:hover .products__one-click{
      display: flex;
    }
    &:hover .products__img-sloi{
      display: flex;
    }
    
  }

  // .products__img

  &__img {
    display: flex;
    justify-content: center;
    position: relative;
  }

  // .products__name-inner

  &__name-inner {
    display: flex;
    a{
      font-size: 16px;
      font-weight: 400;
      text-decoration: none;
      color: black;
    }
  }

  // .products__name-imgs

  &__name-imgs {
    display: flex;
  }

  // .products__name-img

  &__name-img {
    width: 15px;
    height: 15px;
    padding-top: 5px;
    
    & + &{
      margin-left: 10px;
    }
  }

  // .products__img-sloi

  &__img-sloi{
    position: absolute;
    width: 237px;
    height: 55px;
    background-color: #fff;
    border: 1px solid $grey;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    margin-top: -27px;
    display: none;
    opacity: 0.8;
    span{
      color: $grey;
    }
  }

  // .products__img-sloi-inner

  &__img-sloi-inner{
    display: flex;
    align-items: center;
  }

  // .products__prise-inner

  &__prise-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  // .products__prise

  &__prise {
    span{
      font-weight: 700;
    }
    p{
      font-size: 12px;
      color: $grey;
      line-height: 1;
      text-decoration: line-through;
    }
  }

  // .products__basket

  &__basket {
    background-image: linear-gradient(-135deg,#f54,#f54 31%,#ff714b);
    width: 44px;
    height: 34px;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 4px #DBDBDB;
  }

  // .products__one-click

  &__one-click {
    display: flex;
    align-items: center;
    display: none;
    img{
      margin-right: 15px;
    }
    span{
      color: $grey;
    }
  }

  &__discount{
    position: absolute;
    width: 52px;
    height: 28px;
    border: 1px solid #1ED8B7;
    border-top-left-radius: 13px;
    border-bottom-right-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 10px;
    span{
      color: #1ED8B7;
    }
  }
}
