
.mony{
	display: inline-block;
}

.num{
	display: inline-block;
	color: blue;
}

.time__plus{
	display: inline-block;
	color: #50C878FF;
}

.clik{
	border: 1px solid black;
	width: 200px;
	height: 100px;
}
.clik:hover{
	width: 230px;
	height: 115px;
}
.all{
	width: 100%;
	height: 100%;
}


.sum__click__Value{
	margin: 0;
	color: orange;
	display: inline-block;
}


.buy__row{
	display: flex;
	justify-content: space-around;
	transition-duration:  1s;
}
.bor{
	border: 1px solid black;
	width: 200px;
	height:100px;
	transition-duration: s;
	border-radius: 5px;
}

.bor:hover{
	box-shadow: 5px 5px 5px #040905FF;
}

.click1{
	width: 197px;
	height: 97px;
	border-radius: 2px;
	background-color: #D0D0D0FF;
}

.pay{
	color: red;
	margin:  0 ;
}

.get{
	color: green;
}

.buy__time__row{
	display: flex;
	justify-content: space-around;
}