.header {
  font-family: Arial;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
}

.search {
  display: flex;
}

.img {
  width: 44px;
  height: 44px;
}

.south-div {
  display: flex;
  align-items: center;
  margin-right: 41px;
}

.south {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
}

.input {
  display: flex;
  align-items: center;
}

.input2 {
  width: 294px;
  height: 28px;
  background-color: #f5f5f5;
  border-style: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 17px;
}

.input2:focus {
  outline: none;
}

.search-engine {
  width: 39px;
  height: 28px;
  background-color: #16afd9;
  border-style: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.img3 {
  height: 12px;
  justify-content: center;
  align-items: center;
}

.the-main-thing {
  display: flex;
  align-items: center;
}

.img2 {
  width: 17px;
  height: 17px;
}

.cities {
  display: flex;
}

.cities-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 6px;
  margin-right: 45px;
  font-size: 15px;
}

.button-form {
  width: 152px;
  height: 31px;
  color: white;
  background-color: #16afd9;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}

.button-form__mobile {
  display: none;
}

.second-line {
  display: flex;
  justify-content: space-between;
  height: 48px;
  transition-duration: 0.3s;
}

.buttons {
  display: flex;
  align-items: center;
}

.on-cards {
  width: 143px;
  height: 39px;
  background-color: #70d9f6;
  border-style: none;
  color: white;
  margin-right: 16px;
  cursor: pointer;
}

.open {
  cursor: pointer;
  width: 143px;
  height: 39px;
  background-color: #70d9f6;
  border-style: none;
  color: white;
}

.menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 46px;
}

.symbol {
  display: flex;
}

.symbol + .symbol {
  margin-left: 38px;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  margin-left: 8px;
  text-decoration: none;
  color: black;
}

.text-cabinet {
  margin-right: 0;
}

.second-line__inner {
  border-style: solid;
  border-color: #edf2ee;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

/*-----------------burger-----------*/

.burger {
  width: 30px;
  height: 23px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.3s;
  display: none;
  z-index: 33;
}

.burger::before,
.burger::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFC522;
  transition-duration: 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  position: absolute;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background-color: #FFC522;
  top: 50%;
  margin-top: -1px;
  transition-duration: 0.3s;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-45deg);
}

.burger.active::after {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
}

@media (max-width: 991px) {
  .symbol + .symbol {
    margin-left: 20px;
  }
}

@media (max-width: 867px) {
  .button-form__mobile {
    display: block;
  }

  .second-line {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
  }

  .second-line.active {
    left: 0;
  }

  .open {
    margin-right: 15px;
  }

  .menu {
    width: 100vw;
    flex-direction: column;
    margin-bottom: 60px;
    height: auto;
    margin-top: 50px;
  }

  .symbol {
    align-items: center;
    border-bottom: 1px solid #edf2ee;
    margin-left: 20px;
    width: 100%;
  }

  .text {
    font-size: 18px;
    width: 100%;
    padding: 12px 0;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 756px) {
  .cities {
    display: none;
  }

  .button-form {
    display: none;
  }

  .button-form__mobile {
    display: block;
  }
}

@media (max-width: 530px) {
  .buttons {
    flex-direction: column;
  }

  .buttons button {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media (max-width: 505px) {
  .south-div {
    margin-right: 20px;
  }

  .input2 {
    width: 230px;
  }
}

@media (max-width: 400px) {
  .input2 {
    width: 150px;
  }
}
/*# sourceMappingURL=header.css.map */
