/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}



/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/*-------------header---------------*/

body{
  font-family: 'Raleway', sans-serif;
}
.wrapper{
  height: 1024px;
}
.back{
  background: url("../img/Header/photo.png")center no-repeat local;
  height: 100%;
}
.header{
  height: 100px;
  padding-top:39px;
}
.container{
  max-width: 1180px;
  margin: 0 auto;
  height: 100%;
  padding: 0 5px;
}
.header__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu{
  margin-left:auto;
}
.menu__list{
  display: flex;
}
.menu__list-item{
  font-family: 'Montserrat', sans-serif;
  color:#fff;
  font-size: 14px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.menu__list-item:hover{
  transform: scale(1.1);
}
.menu__list-item:hover{
  color: #C7AC93FF;
}
.menu__list-item + .menu__list-item{
  margin-left: 30px;
}
.header__icon{
  margin-left:65px;
}
.header__img{
  display: inline-block;
  cursor: pointer;
}
.header__img + .header__img{
  margin-left: 30px;
}
/*------------Burger-----------*/
.header__burger{
  position: relative;
  display: none;
}

/*---------------Title---------------*/
.title-page{
  margin-top: 300px;
  height: 295px;
}
.title__row{
  max-width: 600px;
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.title-text{
  font-weight: 500;
  color: #FDF5E6FF;
  font-size: 36px;
  text-align: center;
  line-height: 1;
}
.subtitle-text{
  font-weight: ExtraBold;
  font-size: 52px;
  color: #FDF5E6FF;
  text-align: center;
}
.title__text{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FDF5E6FF;
  text-align: center;
  font-size: 16px;
}
.button{
  box-sizing: content-box;
  margin: 0 auto;
  margin-top: 50px;
  width: 170px;
  height: 50px;
  background-color: #A18775FF;
  border-radius: 3px;
  box-shadow: 0px 3px 0px #7A6356FF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.but{
  text-decoration: none;
  color: #FDF5E6FF;
  font-weight: 800;
  text-transform:uppercase;
  font-size: 14px;
}
/*---------Slider1------------*/
.slider1{
  position: relative;
  padding: 0px 100px;
}
.slick-list {
  overflow: hidden;
}
.slider1 .slick-list {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
*:focus {
  outline: none;
}
.slider1 .slick-arrow{
  font-size: 0;
  text-decoration: none;
  border: none;
  position: absolute;
  top: 50%;
  cursor: pointer;
  margin: -36px 0px 0px 0px;
}
/* Стрелка влево */
.slider1 .slick-arrow.slick-prev{
  left: -170px;
  background: url(../img/Title/left.png) 0 0 no-repeat;
  width: 40px;
  height: 73px;
  display: flex;
}
/* Стрелка вправо */
.slider1 .slick-arrow.slick-next{
  right: -170px;
  background: url(../img/Title/right.png);
  width: 40px;
  height: 73px;
}
/* Точки (булиты) */
.slider1 .slick-dots{
  display: flex;
  justify-content: center;
  margin: 0px  7px;
  position: absolute;
  bottom: -300px;
  left: 46%;
}
.slider1 .slick-dots li{
  margin: 0px  7px;
  list-style: none;
  text-decoration: none;
}
/* Элемент точки */
.slider1 .slick-dots li button{
  font-size: 0;
  width: 11px;
  height: 11px;
  text-decoration: none;
  background-color: #949496FF;
  border: none;
  border-radius: 50%;
  padding: 0;
}
.slider1 .slick-dots li.slick-active button{
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 2px solid #DAC2ADFF;
}
/*-------------Services--------------*/
.services{
  padding-top: 80px;
}
.services__row{
  display: flex;
  justify-content: space-between;
}
.services__items{
  transition-duration: 0.5s;
}
.services__items:hover{
  transform: scale(1.1);
}
.services__items:hover .services__title {
  color: #D0B399FF;
}
.services__items:hover::after{
  background-color:#D0B399FF;
}
.img{
  margin: 0 auto;
}
.img-s{
  margin: 0 auto;
}
.dis{
  display: none;
}
.services__items:hover .img-s{
 display: none;
}
.services__items:hover .dis{
  display: block;
 }
.services__title{
  text-align: center;
  margin-top:30px;
  font-weight: 600;
  font-size: 22px; 
}
.services__title.active{
  color: #D0B399FF;
}
.services__text{
  text-align: center;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.services__items{
  position: relative;
}
.services__items.top{
  margin-top: 8px;
}
.services__items:after{
  content: '';
  position: absolute;
  bottom:  -30px;
  left: 40%;
  width: 70px;
  height: 3px;
  background-color:#536872FF;/*#F3EEE9FF*/
  text-align: center;
}
/*----------Ideas--------------*/
.ideas{
  margin-top: 115px;
}
.ideas__back{
  padding-top: 80px;
  background-color:#FBFAF8FF;
}
.ideas__title{
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.ideas__h1{
  font-weight: 600;
  font-size: 30px;
}
.ideas__text{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.pad{
  padding-top: 40px;
}
.line{
  height: 150px;
  background: linear-gradient(90deg, #1E1412FF, #553121FF);
}
.line__row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}
.line__h1{
  color:#FFF7E8FF;
  font-size: 28px;
  font-weight:300;
}
.line__span{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color:#645754FF;
}
.lin{
  margin: 0;
}
/*------------Projects-------------*/
.projects {
  margin: 80px 0px 0px 0px;
}
.projects__h1 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.projects__p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 15px 0px 0px 0px;
}
.projects__menu {
  padding: 40px 0px 0px 0px;
  display: flex;
  justify-content: center;
}
.projects__link {
  margin: 0px 0px 0px 10px;
  color: #8D8D8DFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px  22px;
  border: 1px solid #D0D0D0FF;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #FFFFFFFF;
}
.projects__link:first-child{
  margin: 0;
}
.projects__link.active{
  background-color: #A18775FF;
  color: #FFFFFFFF;
}
.projects__works {
  margin: 40px 0px 0px 0px;
}
.projects__works + .projects__works {
  margin: 30px 0px 0px 0px;
}
.projects__work-row {
  display: flex;
  justify-content: space-between;
}
.projects__work {
  max-width: 370px;
  position: relative;
}
.projects__imgs::before{
  content: '';
  background-image: url(../img/Projects/link1.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 50;
  right: 30px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  cursor: pointer;
}
.projects__imgs::after{
  content: '';
  background-image: url(../img/Projects/link2.png);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 550;
  right: 0;
  left: 55px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
  cursor: pointer;
}
.projects__work:hover .projects__imgs::before{
  display: block;
}
.projects__work:hover .projects__imgs::after{
  display: block;
}
.projects__imgs {
  overflow: hidden;
  background-color: black;
  position: relative;
}
.img-span{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  position:absolute;
  left: 0;
  top: 0;
  transition-duration: 1s;
}
.projects__work:hover .img-span{
  background-color: rgba(0, 0, 0, 0.6);
}
.img-link{
  z-index: 10;
}
.projects__img{
  transition-duration: 1s;
}
.projects__text {
  background-color: #FBFAF8FF;
  padding: 30px;
  position: relative;
  transition-duration: 1s;
}
.projects__work:hover .projects__text{
  background-color: #352A28FF;
}
.projects__text::after{ 
  content: '';
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #FBFAF8FF;
  top: -15px;
  left: 20px;
  transform: rotate(45deg);
  transition-duration: 1s;
}
.projects__work:hover .projects__text::after{
  background-color: #352A28FF;
}
.title {
  color: #CFB399FF;
  transition-duration: 1s;
}
.projects__work:hover .title{
  color:#FDFDFDFF;
}
.sub-title {
  color: #D1D1D1FF;
  transition-duration: 0.5s;
}
.projects__work:hover .sub-title{
  color:#C9AD94FF;
}
.proj{
  color: #FFFFFFFF;
}
/*-------------Video---------------*/
.video {
  margin: 80px 0px 0px 0px;
  height: 705px;
  color: #FFFFFFFF;
  position: relative;
}
.vid {
  max-width: 2000px;
  overflow: hidden;
  position: relative;
  max-height: 705px;
  margin: 0 auto;
}
.video__elements{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.video__content {
  padding: 230px 0px 0px 0px;
  width: 100%
}
.video__logo {
  display: flex;
  justify-content: center;
}
.logo-play:hover {
  transition-duration: 1s;
  transform: rotate(360deg);
}
.video__title {
  margin: 30px 0px 0px 0px;
}
.title-h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.video__sub-title {
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.sub-title-p {
  font-size: 16px;
}
.time {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 40px 0px 0px 0px;
  text-align: center;
  color: #CFB399FF;
}
/*-----------Mobile--------------*/
.mobile {
  margin: 80px 0px 0px 0px;
}
.modile__inner {
  display: flex;
  justify-content: space-between;
}
.mob-img {
  top: 0;
  left: 50px;
}
.mobile__text{
  max-width: 680px;
  padding: 120px 0px 0px 0px;
}
.title-mob {
  font-size: 30px;
  font-weight: 600;
  color: #535353FF;
}
.por {
  margin: 20px 0px 0px 0px;
}
.mobile-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #8C8C8CFF;
  font-weight: 300;
}
.spans {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 100px;
  position: relative;
}
.mobile__span {
  padding: 8px 0px 0px 0px;
  font-family: 'Montserrat', sans-serif;
  color: #8C8C8CFF;
  cursor: pointer;
}
.mobile__span::before{
  position: absolute;
  content: '';
  left: 50px;
  background-image: url(../img/Mobile/01.png);
  width: 21px;
  height: 21px;
  transition-duration: 0.3s;
}
.mobile__span.active::before{
  transform: rotate(90deg);
}
.mobile__span-tab{
  display: none;
}
p.mobile__span-tab.active{
  display: block;
}
/*----------Mobile2------------*/
.back-round {
  background: linear-gradient(90deg, #1E1412FF, #553121FF);
  height: 300px;
  
}
.mobile__item-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.mobile__items {
  position: relative;
}
.mobile__items::before{
  content: '';
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.mabile__img-item {
  margin: 0 auto;
}
.mobile__number-item {
  margin: 10px 0px 0px 0px;
}
.mobile__title-h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 200;
  text-align: center;
}
.mobile__title-item {
  margin: 10px 0px 0px 0px;
}
.mobile__title-h3 {
  color: #C5A991FF;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
/*--------------Posts--------------*/
.posts {
  margin: 80px 0px 0px 0px;
}
.posts__title {
  font-size: 30px;
  color: #565656FF;
  text-align: center;
  font-weight: 600;
}
.posts__sub-title {
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #8C8C8CFF;
  font-weight: 400;
}
.posts__sliders {
  margin: 40px 0px 0px 0px;
  max-width: 1170;
}
.posts__sliders-inner {
  max-width: 1170;
  display: flex;
}
.posts__slides {
  max-width: 370px;
}
.posts__slides-img {
  position: relative;
}
.posts__date {
  left: 20px;
  top: 20px;
  position: absolute;
  width: 50px;
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
}
.posts__day {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #323232FF;
  color: #fff;
  transition-duration: 1s;
}
.posts__month {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #1F1F1FFF;
  color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  align-items: center;
  transition-duration: 1s;
}
.posts__slides-text {
  padding: 30px;
  border-left: 1px solid #F7F7F7FF;
  border-right: 1px solid #F7F7F7FF;
  border-bottom: 1px solid #F7F7F7FF;
  transition-duration: 1s;
}
.posts__slides-title {
  font-size: 20px;
  font-weight: 500;
  color: #535353FF;
}
.posts__slides-p {
  font-size: 14px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  color: #8C8C8CFF;
  margin-top: 13px;
}
.posts__slides-span{
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transition-duration: 0.7s;
}
.posts__button {
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #CFB399FF;
  margin: 20px 0px 0px 0px;
  position: relative;
}
.posts__button::after{
  content: '';
  width: 10px;
  height: 10px;
  background-image: url(/img/Posts/arrow.png);
  background-repeat: no-repeat;
  position: absolute;
  left: 84px;
  top: 7px;
}
.posts__slides:hover .posts__day{
  background-color: #CFB399FF;
  color: #fff;
}
.posts__slides:hover .posts__month{
  background-color: #AD8D71FF;
  color: #fff;
}
.posts__slides:hover .posts__slides-span{
  opacity: 0.5;
}
.posts__slides:hover .posts__slides-text{
  background-color: #352A28FF;
}
.posts__slides:hover .posts__slides-title{
  color: #CFB399FF;
}
.posts__slides:hover .posts__slides-p{
  color: #fff;
}
.posts__slides:hover .posts__button{
  color: #CFB399FF;
}
/*------------Slider2-1170------------*/
.posts__slider-wrapper{
  max-width: 1170px;
  margin-top: 0px;
  
}
.posts__slider{
  margin-top: 40px;
}
.posts__slider{
  position: relative;
}
a { 
  width: 370px;
  margin-left: 30px;
}
/* Стрелка */
.posts__slider .slick-arrow{
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
/* Стрелка влево */
.posts__slider .slick-arrow.slick-prev{
  left: -30px;
  width: 22px;
  height: 22px;
  background-image: url(../img/Posts/left.png);
}
/* Стрелка вправо */
.posts__slider .slick-arrow.slick-next{
  right: -30px;
  width: 22px;
  height: 22px;
  background-image: url(../img/Posts/right.png);
}
/*------------Slider3-------------*/
/* Точки (булиты) */
.slider-img .slick-dots{
  position: absolute;
  left: 50%;
  bottom: 0;
  margin: 0px 0px 0px -50px;
}
.slider-img .slick-dots li{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #8B8C90FF;
  opacity: 0.6;
  cursor: pointer;
  display: inline-block;
  margin: 0px 0px 0px 10px;
  list-style: none;
  text-decoration: none;
}
/* Активная точка */
.slider-img .slick-dots li.slick-active{
  padding: 0;
  
  width: 13px;
  height: 13px;
  border: 2px solid #DAC2ADFF;
  background-color: transparent;
  opacity: 1;
}
/* Элемент точки */
.slider-img .slick-dots li button{
  font-size: 0;
  border: none;
  background-color: transparent;
  margin: 0px 0px 0px 10px;
}
/*-------------Logo-------------*/
.logo {
  margin-top: 80px;
}
.logo__back {
  
  height: 490px;
  background: url(../img/Logo/Background.png) center no-repeat local;
}
.logo__inner {
  max-width: 1200px;
  margin: 0 auto;
}
.logo__row {
  height: 490px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__img{
  transition-duration: 0.4s;
}
.logo__img:hover{
  transform: scale(1.1);
}
/*---------------Footer---------------*/
.footer {
  color: #fff;
}
.footer__back{
  height: 510px;
  background-color: #111111FF;
}
.footer__inner {
  height: 510px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__items {
  max-width: 270px;
}
.footer__items:first-child{
  margin-top: -100px;
}
.footer__text {
  margin-top: 25px;
  color: #535353FF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.footer-but {
  color: #D1D1D1FF;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  cursor: pointer;
}
.footer__title {
  font-size: 24px;
  font-weight: 600;
}
.footer__cont-text {
  margin-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1F1F1FFF;
}
.footer__cont-text:hover .footer__date{
  color: #fff;
} 
.footer__cont-text:hover .footer__text{
  color: #CFB399FF;
} 
.footer__date {
  font-family: 'Montserrat', sans-serif;
  color: #303030FF;
  font-size: 12px;
}

.rec {
  margin-top: 3px;
}
.footer__cont-text:last-child{
  border: none;
  padding: 0;
}
.footer__link{
  color: #00C0F4FF;
  text-decoration: none;
}
.white{
  text-decoration: none;
  color: #969696FF;
}
.footer__img-row{
  
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.foot__img{
  width: 100%;
}
.mr{
  margin-left: 10px;
}
.footer__img-s{
  margin-top: 20px;
  
}
.footer__back2 {
  background-color: #080808FF;
  height: 110px;
}
.footer__row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}
.footer__links-ul {
  display: flex;
}
.footer__links{
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #1F1F1FFF;
}
.footer__links:first-child{
  border: none;
}
.foot__link {
  text-decoration: none;
  color: #535353FF;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.waxom{
  color: #969696FF;
}
.FQA{
  color: #CFB399FF;
}
/*----------Adaptability------------*/
@media (max-width: 1540px){
  .slider1 .slick-arrow.slick-next{
    right: 100px;
  }
  .slider1 .slick-arrow.slick-prev{
    left: 100px;
  }
}
@media (max-width: 1300px){
  .posts__slider{
    max-width: 800px;
    padding-top: 30px;
    margin: 0 auto;
  }
  .slick-slide{
    margin: 0 15px;
  }
}
@media (max-width: 815px){
  .title-page{
    margin-top: 200px;
  }
  .slider1{
    padding: 0;
  }
  .posts__slider{
    max-width: 380px;
  }
  .slick-slide{
    margin: 0 15px;
  }
  .services__row {
    display: block;
  }
  .slider1 .slick-dots {
    display: flex;
    justify-content: center;
     margin: 0; 
    position: absolute;
    bottom: -50px;
    left: 45%;
  }
  .services__items.top{
    margin: 100px 0px 0px 0px;
  }
  .services__items:after{
    left: 50%;
    margin-left: -35px;
  }
  .projects__work-row {
    display: block;
    justify-content: space-between;   
  }
  .projects__work {
    max-width: 370px;
    position: relative;
    margin: 0 auto;
  }
  .projects__work + .projects__work{
    padding-top: 30px;
  }
  .modile__inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  .mobile__text,
  .mob-img {
    margin: 0 auto;
  }
  .mobile__text{
    padding: 0;
  }
  .mob-img {
    margin-top: 30px;
  }
  .back-round {
    background: linear-gradient(90deg, #1E1412FF, #553121FF);
    min-height: 1200px;
  }
  .mobile__item-inner{
    display: flex;
    flex-direction: column;
  }
  .footer__items:nth-child(2) {
    display: none;
  }
  .footer__items:nth-child(3) {
    display: none;
  }
  .footer__inner{
    justify-content: center;
  }
  .footer-links2{
    display: none;
  }
  .footer__row-2{
    justify-content: center;
  }
  .projects__menu {
    padding: 40px 0px 0px 0px;
    display: inline-block;
    justify-content: center;
  }
} 

@media (max-width: 1100px){
  .header__logo{
    z-index: 20;
  }
  .header__burger{
    display: block;
    z-index: 30;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 20px;
  }
  .header__burger::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 0;
    transition-duration: 0.5;
  }
  .header__burger:after {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    transition-duration: 0.5;
  }
  .header__burger-span {
    position: absolute;
    content: '';
    width: 30px;
    height: 2px;
    background-color: #fff;
    top: 9px;
  }
  .header__burger::before,
  .header__burger::after,
  .header__burger-span{
    transition-duration: 0.5s;
  }
  .header__burger.active::before{
    transform: rotate(45deg);
    left: 0;
    top: 9px;
  }
  .header__burger.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
    left: 0;
  }
  .header__burger.active .header__burger-span{
    transform: scale(0);
  }
  .header__menu{
    display: block;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%  ;
    background-color: #383838FF;
    z-index: 10;
    margin-left: 0;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    transition-duration: 1s;
    left: -5px;
  }
  .header__menu.active{
    top: 0;
  }
  .menu__list{
    display: block;
  }
  .menu__list-item{
    font-size: 30px;
    padding-top: 20px;
  }
  .menu__list-item + .menu__list-item{
    margin-left: 0;
    
  }
  .menu__list-item:hover{
    transform: none;
  }
  .menu__list-item:hover{
    color: #C7AC93FF;
  }
  .header__icon{
    z-index: 10;
  }
}
@media (max-width: 400px){
  .header__menu{
    padding-top: 100px;
  }
  .header__icon{
    margin: 0;
  }
  .subtitle-text{
    line-height: 55px;
  }
  .logo__row{
    flex-direction: column;
    justify-content: space-around;
    max-width: 130px;
    margin: 0 auto;
  }
}
@media (max-height: 720px){
  .header__menu{
    padding-top: 70px;
  }
  .menu__list-item{
    padding-top: 3px;
  }
  .menu__list{
    max-height: 380px;
  }
}