@charset "UTF-8";

@font-face {
  font-family: "EuclidSquare";
  font-display: swap;
  src: url("../fonts/EuclidSquare-Medium.woff") format("woff"), url("../fonts/EuclidSquare-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/Golos-Text_DemiBold.woff") format("woff"), url("../fonts/Golos-Text_DemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EuclidSquare";
  font-display: swap;
  src: url("../fonts/EuclidSquare-SemiBold.woff") format("woff"), url("../fonts/EuclidSquare-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/Golos-Text_Regular.woff") format("woff"), url("../fonts/Golos-Text_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/Golos-Text_Medium.woff") format("woff"), url("../fonts/Golos-Text_Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Указываем box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

.wellbe {
  font-family: 'EuclidSquare';
  position: relative;
}

.wellbe__back {
  padding-bottom: 40px;
  background: radial-gradient(72.84% 130.08% at 0% 0%, #BFDC02 0%, #86A701 100%);
  height: 100vh;
}

.wellbe__back2 {
  background-color: #F6F6F6;
  padding-bottom: 40px;
  position: relative;
  margin-bottom: 200px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.wellbe__black-text {
  font-size: 16px;
  font-weight: 400;
  color: #0E1420;
}

.title__back {
  position: absolute;
  top: -61px;
  right: 433px;
}

.work__back {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
}

.wellbe__title {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: #0E1420;
  max-width: 650px;
  letter-spacing: 0.01em;
  line-height: 48px;
}

.wellbe__circle {
  width: 224px;
  height: 224px;
  border-radius: 50%;
  background-color: #D4F400;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-end;
  cursor: pointer;
  text-decoration: none;
}

.wellbe__circle img {
  display: block;
}

.wellbe__circle:hover {
  background-color: transparent;
  border: 1px solid #0E1420;
}

.wellbe .wellbe__circle-text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #0E1420;
}

.wellbe__text-number {
  font-size: 72px;
  text-transform: uppercase;
  -webkit-text-stroke-width: 0.9px;
  -webkit-text-stroke-color: #0E1420;
  color: transparent;
  font-weight: 600;
  line-height: 1;
}

.wellbe__block-title {
  font-size: 22px;
  color: #0E1420;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1;
}

.wellbe__back3 {
  background-color: #F6F6F6;
  padding-top: 192px;
  padding-bottom: 136px;
  position: relative;
  z-index: 2;
}

.question__back {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* Указываем box sizing */

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

.header {
  padding-top: 52px;
  position: relative;
  z-index: 2;
}

.header.active {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  margin-bottom: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  top: 0;
}

.header .wellbe__black-text {
  display: block;
  text-decoration: none;
  margin-bottom: 30px;
  display: none;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 80px;
}

.header__menu.active {
  left: 0;
}

.header__lists {
  display: flex;
}

.header__list + .header__list {
  margin-left: 24px;
}

.header__link {
  text-decoration: none;
  color: #0E1420;
  font-size: 14px;
  font-weight: 500;
}

.header__link:hover {
  color: #546900;
}

.header__button {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: 206px;
  height: 48px;
  justify-content: center;
  background-color: #D4F400;
  border-radius: 24px;
  cursor: pointer;
  z-index: 1;
}

.header__button:hover {
  background-color: transparent;
  border: 1px solid #0E1420;
}

.header__but {
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
  color: #0E1420;
  text-transform: uppercase;
  margin-right: 15px;
}

.burger-inner {
  cursor: pointer;
  z-index: 33;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #D4F400;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.burger {
  width: 16px;
  height: 12px;
  position: relative;
  cursor: pointer;
  transition-duration: 0.3s;
}

.burger::before,
.burger::after {
  position: absolute;
  content: '';
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  transition-duration: 0.3s;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
  width: 8px;
}

.burger span {
  position: absolute;
  width: 16px;
  height: 2px;
  border-radius: 5px;
  background-color: black;
  top: 50%;
  margin-top: -1px;
  transition-duration: 0.3s;
}

.burger.active span {
  transform: scale(0);
}

.burger.active::before {
  top: 50%;
  margin-top: -1px;
  transform: rotate(-45deg);
}

.burger.active::after {
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
  width: 16px;
}

.first__black-text {
  margin-top: 65px;
}

.title {
  padding-top: 280px;
  position: relative;
}

.title .title__big-circle {
  display: none;
}

.title .wellbe__title {
  width: 463px;
}

.title__circle {
  width: 72px;
  height: 72px;
  justify-content: center;
  align-items: center;
  margin-right: 80px;
  display: flex;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #0E1420;
}

.title__circle:hover {
  background-color: #BFDC02;
}

.title__circle img {
  transform: rotate(90deg);
}

.title-text__inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #0E1420;
  margin-bottom: 40px;
}

.title-info__inner {
  display: flex;
  justify-content: space-between;
}

.title-info__text {
  display: flex;
}

.title-info__text p {
  max-width: 340px;
}

.title-info__text p + p {
  max-width: 388px;
  margin-left: 120px;
  padding-left: 48px;
  border-left: 1px solid #0E1420;
}

.punct {
  margin-bottom: 270px;
  padding-top: 260px;
}

.punct .wellbe__text-number {
  margin-right: 42px;
  margin-top: 45px;
  transform: translateY(-10px);
}

.punct .wellbe__text-number-m-t {
  margin-top: 0;
}

.punct .wellbe__title {
  z-index: 2;
  max-width: 450px;
}

.punct__inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.punct-circle {
  position: absolute;
  width: 736px;
  z-index: 1;
  height: 736px;
  left: 0;
  right: 0;
  top: -120px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.punct-circle__inner {
  width: 352px;
  height: 352px;
  background-color: #9EC600;
  border-radius: 50%;
}

.punct-circle__inside {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.punct-circle__letter {
  position: absolute;
}

.punct-circele__letter-circle {
  animation-name: letter-circle;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes letter-circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.punct-text__inner {
  max-width: 450px;
  position: relative;
  z-index: 2;
}

.punct-text__block {
  display: flex;
}

.punct-text__block + .punct-text__block {
  margin-top: 45px;
}

.punct-text__p {
  font-size: 16px;
  font-family: "Golos", sans-serif;
  color: #727A8D;
}

.punct-text__text {
  border-top: 1px solid #C9CED4;
  padding-top: 45px;
}

.punct-text__text-b-n {
  border: none;
  padding: 0;
}

.work {
  position: relative;
  z-index: 2;
}

.work .wellbe__title {
  max-width: 100%;
  text-align: end;
  transform: translateY(50px);
}

.work .wellbe__black-text {
  padding-top: 20px;
  border-top: 1px solid #0E1420;
  margin-bottom: 85px;
  font-size: 14px;
  font-family: 'Golos';
}

.work .wellbe__block-title {
  max-width: 170px;
}

.work .wellbe__circle {
  transform: translateY(-222px);
}

.work-block,
.work-block2 {
  max-width: 336px;
  padding: 48px;
}

.work-block2 {
  background-color: #9EC600;
}

.work-block {
  background-color: #BFDC02;
}

.work-block__inner {
  display: flex;
  align-items: flex-start;
}

.work-b1 {
  margin-top: 0;
}

.work-b2 {
  margin-top: 128px;
}

.work-b3 {
  margin-top: 256px;
}

.work-b4 {
  margin-top: 384px;
}

.teame {
  margin-bottom: 100px;
}

.teame__inner {
  display: flex;
  position: relative;
}

.teame-text__block {
  align-self: flex-end;
  background-color: #F7F7F7;
  padding: 100px 110px;
}

.teame-text__title {
  font-size: 40px;
  font-weight: 500;
  line-height: 48px;
  color: #0E1420;
  max-width: 560px;
  margin-bottom: 40px;
  border-bottom: 1px solid #C9CED4;
  padding-bottom: 40px;
}

.teame-text__sub-title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #0E1420;
  margin-bottom: 5px;
}

.teame-text__info {
  font-size: 12px;
  font-family: 'Golos';
  color: #727A8D;
}

.teame-text__img {
  flex: 1 0 560px;
}

.teame__circle-img {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 140px;
  right: 488px;
}

.person {
  margin-bottom: 200px;
}

.person .wellbe__block-title {
  margin-bottom: 45px;
  text-align: center;
}

.person__inner {
  display: flex;
  justify-content: space-between;
}

.person-text {
  align-self: flex-start;
  padding: 96px 112px;
  padding-bottom: 200px;
  max-width: 560px;
  border: 1px solid #C9CED4;
  position: relative;
}

.person-text .person-text__circle-inner {
  position: absolute;
  background-color: #fff;
  width: 256px;
  right: 0;
  left: 0;
  bottom: -112px;
  margin: 0 auto;
}

.person-text .person-text__circle-inner .wellbe__circle {
  margin: 0 auto;
}

.person-text__description {
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  font-family: 'Golos';
}

.person-people__link-soc {
  position: absolute;
  top: 16px;
  right: -17px;
}

.person-soc {
  cursor: pointer;
}

.person-soc:hover circle {
  fill: #9EC600;
}

.person-people {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  max-width: 672px;
}

.person-people .wellbe__block-title {
  margin-bottom: 22px;
}

.person-people__block {
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 90px 75px 90px;
}

.person-people__face {
  margin-bottom: 45px;
  position: relative;
}

.person-people__prof {
  color: #0E1420;
}

.person-people__prof,
.person-people__prof-desc {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Golos';
  text-align: center;
}

.person-people__prof-desc {
  color: #727A8D;
}

.slider {
  margin-bottom: 180px;
}

.slider .wellbe__title {
  margin-bottom: 80px;
  text-align: center;
  max-width: 100%;
}

.slider__pagination {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.slider__arrow-prev {
  transform: rotate(180deg);
  left: 0;
}

.slider__arrow-next {
  right: 0;
}

.slider__arrow-prev,
.slider__arrow-next {
  width: 72px;
  height: 72px;
  background-color: #F7F7F7;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: -5px;
}

.slider__arrow-prev:hover,
.slider__arrow-next:hover {
  border: 1px solid #0E1420;
  background-color: transparent;
}

.slider-wrapper {
  position: relative;
}

.slider-slide {
  max-width: 900px;
  margin: 0 auto;
}

.slider-slide__text {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Golos';
  color: #0E1420;
  text-align: center;
  margin-bottom: 49px;
}

.slider-slide__ava img {
  margin: 0 auto;
}

.slider-slide__name {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: block;
  color: #0E1420;
  margin-bottom: 5px;
}

.slider-slide__soc {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Golos';
  text-align: center;
  display: block;
  color: #969EB2;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #EBEBEC;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 10px !important;
}

.swiper-pagination-bullet-active {
  background: url("../img/slider/bull.svg") local;
}

.question {
  position: relative;
  z-index: 2;
}

.question .wellbe__circle {
  margin: 0 auto;
}

.question .wellbe__title {
  text-align: center;
  max-width: 100%;
  margin-bottom: 80px;
}

.question__inner {
  max-width: 680px;
  margin: 0 auto;
  margin-bottom: 160px;
}

.question-tab__inner {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  cursor: pointer;
}

.question-tab__del {
  transition-duration: 0.3s;
  flex: 0 0 24px;
  align-self: flex-start;
}

.question-tab__content {
  display: none;
}

.question-tab__content.active {
  display: block;
}

.question-tab__text {
  font-size: 16px;
  color: #4F596C;
  font-weight: 400;
  font-family: 'Golos';
  margin-bottom: 24px;
}

.question-tab__inner {
  border-top: 1px solid #C9CED4;
}

.question-tab:first-child .question-tab__inner {
  border: none;
}

.question-tab.active .question-tab__del {
  transform: rotate(135deg);
}

.footer {
  background-color: #F6F6F6;
  min-height: 255px;
  border-top: 1px solid #C9CED4;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 255px;
  flex-wrap: wrap;
}

.footer__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0E1420;
  font-family: 'Golos';
  text-decoration: none;
}

.footer__text:hover {
  color: #546900;
}

.footer-soc__logo {
  cursor: pointer;
}

.footer-soc__logo:hover circle {
  fill: #9EC600;
}

.footer-soc__logo-tg {
  cursor: pointer;
}

.footer-soc__logo-tg:hover .footer-soc-tg {
  cursor: pointer;
  fill: #9EC600;
}

.footer-soc__link {
  text-decoration: none;
}

@media (max-width: 1600px) {
  .title {
    padding-top: 180px;
  }
}

@media (max-width: 1450px) {
  .title__back {
    position: absolute;
    top: -61px;
    right: 133px;
  }
}

@media (max-width: 1415px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 1300px) {
  .punct .wellbe__title {
    text-align: center;
    max-width: 100%;
    margin-bottom: 500px;
  }

  .punct__inner {
    flex-direction: column;
    align-items: center;
  }

  .punct-circle {
    top: 50px;
  }
}

@media (max-width: 1290px) {
  .teame {
    margin-bottom: 0;
  }

  .teame .wellbe__title {
    margin-bottom: 65px;
  }

  .teame__inner {
    flex-direction: column;
    align-items: center;
  }

  .teame-text__block {
    align-self: center;
    padding: 50px;
    width: 100%;
  }

  .teame-text__img {
    background-color: #F7F7F7;
    width: 100%;
    transform: translateY(-50px);
  }

  .teame-text__img img {
    margin: 0 auto;
  }

  .teame__circle-img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .title-info__text p + p {
    margin-left: 80px;
    padding-left: 30px;
  }
}

@media (max-width: 1160px) {
  .silder__arrow {
    display: none;
  }
}

@media (max-width: 1140px) {
  .person__inner {
    flex-direction: column-reverse;
    align-items: center;
  }

  .person-text {
    align-self: center;
    max-width: 100%;
  }

  .person-people {
    margin-bottom: 60px;
  }
}

@media (max-width: 1100px) {
  .wellbe__back2 {
    padding-bottom: 110px;
  }

  .work .wellbe__title {
    transform: translateY(0);
    text-align: center;
    margin-bottom: 65px;
  }

  .work .wellbe__black-text {
    margin-bottom: 0;
  }

  .work .wellbe__block-title {
    max-width: 100%;
  }

  .work .wellbe__circle {
    transform: translateY(0);
    margin: 0 auto;
  }

  .work .wellbe__text-number {
    order: 1;
    margin-right: 105px;
  }

  .work-block,
  .work-block2 {
    width: 100%;
    max-width: 100%;
    display: flex;
  }

  .work-block__inner {
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .work-b1,
  .work-b2,
  .work-b3,
  .work-b4 {
    margin-top: 0;
  }

  .work-block__inner-in {
    width: 100%;
    order: 2;
  }
}

@media (max-width: 1100px) and (max-width: 600px) {
  .work-block__inner-in {
    order: 1;
  }
}

@media (max-width: 1000px) {
  .slider {
    margin-bottom: 160px;
  }
}

@media (max-width: 991px) {
  .title__circle {
    display: none;
  }
}

@media (max-width: 900px) {
  .wellbe__back3 {
    padding-top: 160px;
  }

  .header {
    padding-top: 25px;
  }

  .header__logo {
    margin-right: 40px;
  }

  .header__button {
    width: 48px;
    height: 48px;
    justify-content: center;
  }

  .header__but {
    display: none;
  }

  .title {
    padding-top: 25px;
  }

  .question__inner {
    margin-bottom: 55px;
  }
}

@media (max-width: 867px) {
  .wellbe__back {
    height: auto;
  }

  .title {
    padding-top: 440px;
  }

  .title .wellbe__circle {
    transform: translateY(-250px);
    position: absolute;
    right: 25px;
  }

  .punct {
    padding-top: 160px;
  }
}

@media (max-width: 800px) {
  .header.active {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .punct .wellbe__text-number {
    margin-right: 130px;
  }

  .punct .wellbe__title {
    margin-bottom: 520px;
  }

  .punct-circle {
    top: 250px;
    width: 672px;
    height: 672px;
  }

  .punct-text__inner {
    max-width: 100%;
  }

  .teame-text__img {
    height: auto;
  }

  .teame-text__img img {
    width: 100%;
  }

  .slider .wellbe__title {
    margin-bottom: 60px;
  }

  .slider__pagination {
    margin-bottom: 60px;
  }

  .slider-slide__text {
    margin-bottom: 32px;
  }

  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0;
    height: auto;
  }

  .footer__text {
    margin-bottom: 20px;
  }

  .footer__list {
    margin-bottom: 20px !important;
  }

  .footer-m-b {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .title__back {
    width: 620px;
    right: 110px;
  }
}

@media (max-width: 740px) {
  .punct .wellbe__title {
    margin-bottom: 30px;
  }

  .punct-circle {
    position: static;
    width: auto;
    height: auto;
    max-width: 736px;
    margin-bottom: 35px;
  }
}

@media (max-width: 710px) {
  .header {
    padding-top: 15px;
  }

  .header .wellbe__black-text {
    display: block;
  }

  .header__logo {
    z-index: 1;
  }

  .header__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: -100%;
    background: radial-gradient(72.84% 130.08% at 0% 0%, #BFDC02 0%, #86A701 100%);
    padding: 25px;
    padding-top: 100px;
    transition-duration: 0.3s;
  }

  .header__lists {
    flex-direction: column;
  }

  .header__list + .header__list {
    margin-left: 0;
    border-top: 1px solid #0E1420;
  }

  .header__link {
    font-size: 24px;
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
  }

  .header__button:hover {
    background-color: #D4F400;
    border: none;
  }

  .header__button {
    margin-right: 8px;
  }

  .burger-inner {
    display: flex;
  }

  .title {
    padding-top: 15px;
  }

  .title__circle {
    display: none;
  }
}

@media (max-width: 650px) {
  .wellbe__title {
    font-size: 24px;
  }

  .title .wellbe__circle {
    display: none;
  }

  .title .title__big-circle {
    display: flex;
    position: static;
    transform: translateY(0);
    width: 192px;
    height: 192px;
    margin: 0 auto;
  }

  .title-text__inner {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  .title-info__inner {
    justify-content: center;
  }

  .title-info__text {
    margin-bottom: 30px;
    flex-direction: column;
  }

  .title-info__text p + p {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    border-top: 1px solid #0E1420;
    margin-top: 15px;
    padding-top: 15px;
  }

  .title-info__text p + p {
    max-width: 100%;
  }

  .person-text {
    padding: 25px 25px;
    padding-bottom: 125px;
  }

  .person-people {
    margin-bottom: 30px;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }

  .person-people__block {
    padding-top: 25px;
    padding-bottom: 60px;
    padding-right: 55px;
    padding-left: 55px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 25px;
  }

  .work .wellbe__black-text {
    margin-bottom: 30px;
  }

  .work-block,
  .work-block2 {
    flex-direction: column;
  }

  .slider .wellbe__title {
    margin-bottom: 30px;
  }

  .slider__pagination {
    margin-bottom: 30px;
  }

  .slider-slide__text {
    font-size: 16px;
  }

  .question .wellbe__title {
    margin-bottom: 30px;
  }

  .question__inner {
    margin-bottom: 45px;
  }

  .question-tab__inner {
    padding: 15px 0;
  }
}

@media (max-width: 580px) {
  .punct .wellbe__text-number {
    display: none;
  }

  .punct .wellbe__block-title {
    text-align: center;
  }

  .punct-text__text {
    text-align: center;
  }
}

@media (max-width: 521px) {
  .teame-text__img {
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  .wellbe__back3 {
    padding-top: 70px;
  }

  .title {
    padding-top: 240px;
  }

  .slider {
    margin-bottom: 70px;
  }

  .footer__inner {
    padding: 30px 0;
  }
}

@media (max-width: 485px) {
  .teame-text__title {
    font-size: 24px;
  }
}

@media (max-width: 460px) {
  .title__back {
    width: 307px;
    right: 42px;
    top: 0;
  }
}

@media (max-width: 400px) {
  .punct-circle__inner {
    width: 256px;
    height: 256px;
  }

  .punct-circle__letter {
    width: 100px;
  }

  .punct-circele__letter-circle {
    width: 215px;
  }
}

@media (max-width: 350px) {
  .title__back {
    right: 10px;
  }
}