.card {

  // .card__header
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: none;
  &.active{
    display: block;
  }
  &__header {
    
  }

  // .card__header-inner

  &__header-inner {
    display: flex;
    align-items: center;
    height: 50px;
    box-shadow: 0 4px 4px -4px #333;
    padding: 0 15px;
  }

  // .card__header-arrow

  &__header-arrow {
    margin-right: 30px;
  }

  // .card__header-name

  &__header-name {
  }
}
