.info {

  // .info__logo

  &__logo {
    width: 200px;
    margin-top: 70px;
    margin-bottom: 15px;
    .stemple__set-title{
      margin-bottom: 10px;
    }
  }

  // .info__setting-inner

  &__setting-inner {
    display: flex;

    & + & {
      margin-top: 10px;
    }
  }

  // .info__setting-img

  &__setting-img {
    margin-right: 5px;
    width: 17px;
  }

  // .info__setting-text

  &__setting-text {
    color: grey;
    font-size: 12px;
  }
}
.page {
}
.stemplen {

  // .stemplen__container

  &__container {
  }
}
.main {

  // .main__logo-img

  &__logo-img {
  }
}
.stemple {

  // .stemple__set-title

  &__set-title {
    font-weight: 500;
    color: #6B6861;
  }
}

.info__set-title-inner{
  margin-bottom: 20px;
}

.info {

  // .info__stock

  &__stock {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 10px 0;
    margin-bottom: 15px;
  }

  // .info__stock-text

  &__stock-text {
    font-size: 12px;
    font-weight: 600;
  }
}
.stemple {

  // .stemple__set-title

  &__set-title {
  }
}

.info {

  // .info__use

  &__use {
    margin-bottom: 50px;
    .stemple__set-title{
      margin-bottom: 10px;
    }
  }

  // .info__use-list

  &__use-list {
  }

  // .info__use-li

  &__use-li {
    font-size: 12px;
    font-weight: 600;
  }
}
.stemple {

  // .stemple__set-title

  &__set-title {
  }
}
