.main {

  // .main__slider

  &__slider {
    max-width: 425px;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  // .main__swip-slider

  &__swip-slider {
  }

  // .main__swip-slider-wrapper

  &__swip-slider-wrapper {
  }

  // .main__swip-slide

  &__swip-slide {
   width: 100px;
  }

  // .main__swip-slide-container

  &__swip-slide-container {
    width: 100%;
  }
}
.stemplen {

  // .stemplen__container

  &__container {
  }
}
.swiper-container {
}
.swiper-wrapper {
}
.swiper-slider {
}

.main {

  // .main__logo

  &__logo {
    margin-bottom: 50px;
  }

  // .main__logo-inner

  &__logo-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr;
    grid-row-gap:10px;
    grid-column-gap: 10px;
  }

  // .main__logo-img

  &__logo-img {
    border-radius: 15px;
    
  }
}
.stemplen {

  // .stemplen__container

  &__container {
  }
}


.stemplen {

  // .stemplen__container

  &__container {
  }
}

.main__wrapper{
  &.active{
    height: 100vh;
    overflow: hidden;
  }
  
}
