.profil {

  // .profil__info-block
  .stemplen__sub-title{
    margin-bottom: 15px;
  }
  &__info-block {
    padding: 17px 0;
    border-bottom: 1px solid black;
    &:first-child{
      margin-top: 70px;
      padding-bottom: 25px;
    }
    &:nth-child(3){
      margin-bottom: 20px;
    }
  }

  // .profil__settings-inner

  &__settings-inner {
    display: flex;
    flex-direction: column;
  }

  // .profil__set-date

  &__set-date {
    margin-right: 25px;
    font-size: 12px;
    color: grey;
  }

  // .profil__set-email

  &__set-email {
    display: flex;
  }

  // .profil__email-img

  &__email-img {
    width: 20px;
    margin-right: 4px;
  }

  // .profil__email-text

  &__email-text {
    font-size: 14px;
    color: grey;
  }

  // .profil__button

  &__button {
    margin-right: 10px;
    border: none;
    height: 25px;
    width: 170px;
    border-radius: 7px;
    background-color: #FFAF00;
    color: #fff;
  }

  // .profil__button-text

  &__button-text {
    color: grey;
    
  }
}
.stemplen {

  // .stemplen__sub-title

  &__sub-title {
  }
}
.profil {

  // .profil__logo-inner

  &__logo-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }

  // .profil__logo-img

  &__logo-img {
  }
}

.profil {

  // .profil__title-inner

  &__title-inner {
    display: flex;
  }

  // .profil__title-img

  &__title-img {
    margin-right: 5px;
    width: 20px;
    img polygon{
      fill: #FF006D;
    }
  }
}
.stemplen {

  // .stemplen__sub-title

  &__sub-title {
  }
}

