.question {

  // .question__text

  &__text {
    color: grey;
    margin-bottom: 20px;
  }

  // .question__button-inner

  &__button-inner {
    display: flex;
    justify-content: space-between;
  }

  // .question__button-yes

  &__button-yes {
    background-color: #FFAF00;
  }

  // .question__button-no

  &__button-no {
    background-color: #A86E63;
  }

  &__button-yes, &__button-no{
    width: 160px;
    height: 50px;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
  }
}
.page {
}
.stemplen {

  // .stemplen__container

  &__container {
  }
}
.form {

  // .form__title

  &__title {
  }
}
