body{
  font-family: Arial,  sans-serif;
}

.stemplen {
  
  // .stemplen__container

  &__container {
    max-width: 425px;
    margin: 0 auto;
    padding: 0 25px;
  }
}

.page{
  position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
    width: 97vw;
    height: 100vh;
    background-color: #fff;
    display: none;
    &.active{
      display: block;
    }
}

.stemplen__sub-title{
  font-size: 16px;
  color: grey;
  font-weight: 400;
}
