@import 'null.scss';

@keyframes coin{
  /*from*/
    0%{
      transform: rotate(0deg);
      /*Начальные свойства*/
    }
    
  /*to*/	
    100%{
      transform: rotate(360deg);
      /*Конечные свойства*/
    }
  }
  @keyframes click-Obj{
    /*from*/
      0%{
        transform: translateX(-450px);
        /*Начальные свойства*/
      }
      
    /*to*/	
      100%{
        transform: translateX(450px);
        /*Конечные свойства*/
      }
    }

@media (max-width:767px) {
  @keyframes click-Obj{
    /*from*/
      0%{
        transform: translateX(-150px);
        /*Начальные свойства*/
      }
      
    /*to*/	
      100%{
        transform: translateX(150px);
        /*Конечные свойства*/
      }
    }
  }

body{
  user-select: none;
}

.header {
  
  height: 100px;
  
  border: 5px solid #50C878;

  //header__money-inner
  &__money-inner{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .header__money

  &__money {
    color: green;
    span{
      color: black;
    }
  }

  // .header__sum

  &__sum {
  }

  // .header__profit

  &__profit {
  }

  &__coin{
    width: 25px;
    height: 25px;
    

    animation-name: coin;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    
  }
  &__click-inner{
    display: flex;
    justify-content: center;
  }
  //header__click
  &__click{
    display: flex;
    img{
      margin-right: 5px;
    }
  }
}
.page {

  // .page__click-obj

  &__click-obj {
    width: 250px;
    height: 100px;
    border:  3px solid black;
    margin-top: 50px;
    margin: 50px auto;

    animation-name: click-Obj;
    animation-duration: 2s;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse;
    animation-timing-function: linear;
    @media (max-width:767px) {
      animation-duration: 1.5s;
      
    }
  }
  &__img-inner{
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 9px;
  }
}

.shop {

  // .shop__title

  &__title {
    text-align: center;
    
    span{
      font-size: 16px;
    }
  }

  // .shop__lots-inner

  &__lots-inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    @media (max-width:767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  // .shop__lot

  &__lot {
    @media (max-width:767px) {
      margin-bottom: 30px;
      max-width: 160px;
      
    }
  }
  &__money{
    display: flex;
    
  }
  // .shop__improv

  &__improv {
    &::before{
      content: '+';
    }
    color: green;
  }

  // .shop__price

  &__price {
    color: #FF1100;
    margin-left: auto;
    font-weight: 600;
    
  }

  // .shop__button

  &__button {
    display: flex;
    justify-content: space-around;
    button{
      
    }
  }
  &__sum-buy{
    color: blue;
    &::before{
      content: 'ALL:';
      color: blue;
    }
  }
}

.shop-time {

  // .shop-time__inner

  &__inner {
    display: flex;
    justify-content: space-around;
    @media (max-width:767px) {
      flex-direction: column;
      justify-content: center;
    }
  }

  // .shop-time__lot

  &__lot {
    @media (max-width:767px) {
      margin-bottom: 30px;
      max-width: 160px;
      
    }
    > img{
      width: 160px;
      height: 160px;
      
    }
  }

  // .shop-time__money

  &__money {
    display: flex;
    
  }

  // .shop-time__improv

  &__improv {
    color: green;
    &::before{
      content: '+ ';
    }
  }

  // .shop-time__price

  &__price {
    margin-left: auto;
    color: #FF1100;
    font-weight: 600;
  }

  // .shop-time__sum-buy

  &__sum-buy {
    color: blue;
    &::before{
      content: 'ALL:';
    }
  }
   // .header__coin

   &__coin {
  }
    // .shop-item__buy-inner

  &__buy-inner {
     display: flex;
     justify-content: space-between;
    }
  
    // .shop-item__button
  
   &__button {
  }
}


 






