@charset "UTF-8";
*:focus {
  outline: none;
}

.articles {
  background-color: #F9F9F9;
}

.articles__title {
  font-size: 36px;
  margin-bottom: 40px;
  color: #2A2A2A;
  line-height: 1;
}

.articles__img-slide {
  margin-bottom: 25px;
}

.articles__slide-title {
  line-height: 23px;
  font-size: 18px;
  color: #2A2A2A;
  margin-bottom: 20px;
}

.articles__title-text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .articles__slide-next {
    display: none;
  }
}

.articles__slide-next a {
  text-decoration: none;
  color: #2A2A2A;
  position: relative;
}

.articles__slide-next a::after {
  position: absolute;
  content: '→';
  right: -20px;
}

@media (max-width: 400px) {
  .block {
    padding: 25px;
    -webkit-box-shadow: 0 0 3px #DEDEDE;
            box-shadow: 0 0 3px #DEDEDE;
  }
}

.mob {
  display: none;
}

@media (max-width: 400px) {
  .mob {
    display: block;
  }
}

/* Указываем box sizing */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class], ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/*----------------------*/
body {
  font-family: 'PT Sans', sans-serif;
}

section {
  margin-bottom: 120px;
}

@media (max-width: 1000px) {
  section {
    margin-bottom: 40px;
  }
}

.hel__main-img-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1180px) {
  .hel__main-img-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hel__main-img {
  position: relative;
  margin-bottom: 20px;
}

.hel__text {
  position: absolute;
  color: #2A2A2A;
  top: 150px;
  left: 50px;
}

@media (max-width: 520px) {
  .hel__text {
    top: 70px;
    left: 25px;
  }
}

.hel__text h3 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 520px) {
  .hel__text h3 {
    font-size: 20px;
  }
}

.hel__text span {
  font-size: 24px;
  line-height: 1;
}

@media (max-width: 520px) {
  .hel__text span {
    font-size: 18px;
  }
}

.hel__main-img-rigth {
  position: relative;
}

.hel__main-img-rigth .hel__text {
  color: #fff;
  top: 205px;
  left: 30px;
}

@media (max-width: 520px) {
  .hel__main-img-rigth .hel__text {
    top: 250px;
    left: 25px;
  }
}

.hel__main-img-rigth .hel__text span {
  font-weight: 700;
  white-space: pre;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0;
  }
}

.wardrobe__block {
  width: 370px;
}

@media (max-width: 360px) {
  .wardrobe__block {
    width: 250px;
  }
}

.ideas__img-cont {
  position: relative;
}

.ideas__text {
  position: absolute;
  top: 50px;
  left: 30px;
}

@media (max-width: 450px) {
  .ideas__text {
    left: 15px;
    top: 30px;
  }
}

.ideas__text h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 450px) {
  .ideas__text h3 {
    font-size: 25px;
  }
}

/*-------------Slider----------*/
/* Слайдер */
.slick-slider {
  position: relative;
}

/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
@media (max-width: 1100px) {
  .slick-slide {
    padding: 0 45px;
  }
}

@media (max-width: 900px) {
  .slick-slide {
    padding: 0 35px;
  }
}

@media (max-width: 860px) {
  .slick-slide {
    padding: 0 15px;
  }
}

/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  font-size: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  z-index: 33;
  top: 50%;
  margin-top: -40px;
  cursor: pointer;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
  background-image: url("../articles-img/slider/arrow-prev.png");
  left: -85px;
}

@media (max-width: 1350px) {
  .slick-arrow.slick-prev {
    left: -10px;
  }
}

/* Стрелка вправо */
.slick-arrow.slick-next {
  background-image: url("../articles-img/slider/arrow-next.png");
  right: -70px;
}

@media (max-width: 1350px) {
  .slick-arrow.slick-next {
    right: 10px;
  }
}

/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  width: 6px;
  height: 6px;
  background-color: #B8B8B8;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li {
  margin-left: 5px;
}

/* Активная точка */
.slick-dots li.slick-active {
  background-color: #FF715F;
  width: 7px;
  height: 7px;
}

/* Элемент точки */
.slick-dots li button {
  background-color: transparent;
  border: none;
  font-size: 0;
}

.tehno__block {
  width: 270px;
}

@media (max-width: 350px) {
  .tehno__block {
    width: 250px;
  }
}
