@charset "UTF-8";
/* Указываем box sizing */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class], ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class], ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background-color: #07090A;
}

.main-backgraound {
  background: url("../img/header/bg-image.png") 0 0/100% 100% no-repeat;
  height: 960px;
}

@media (max-width: 1024px) {
  .main-backgraound {
    background: url("../img/header/bg-image.png") 0 0/auto 100% no-repeat;
  }
}

.header {
  padding-top: 20px;
  margin-bottom: 250px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

@media (max-width: 956px) {
  .header__menu {
    background-color: black;
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .header__menu.active {
    left: 0;
  }
  .header__menu.active li {
    margin: 0;
    margin-bottom: 30px;
  }
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

@media (max-width: 956px) {
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
}

.header__menu ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__menu ul li + li {
  margin-left: 50px;
}

@media (max-width: 1024px) {
  .header__menu ul li + li {
    margin-left: 30px;
  }
}

.header__link {
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  letter-spacing: 2px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media (max-width: 956px) {
  .header__link {
    font-size: 20px;
  }
  .header__link:hover {
    font-size: 20px;
  }
}

.header__link:hover {
  font-size: 13px;
}

@media (max-width: 956px) {
  .header .burger {
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    z-index: 10;
  }
  .header .burger.active {
    margin-left: 90px;
  }
  .header .burger::before, .header .burger::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .header .burger::before {
    top: 0;
  }
  .header .burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .header .burger::after {
    bottom: 0;
  }
  .header .burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 9px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .header .burger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: 9px;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
  .header .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
  }
}

.header__img-lang-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img-link img {
  cursor: pointer;
}

.header__img-link .img + .img {
  margin-left: 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.languages__h1 {
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
  position: relative;
  padding-right: 30px;
  border-right: 1px solid;
  cursor: pointer;
}

.languages__h1::after {
  content: '';
  position: absolute;
  background-image: url("../img/header/22.svg");
  width: 10px;
  height: 5px;
  right: 15px;
  top: 6px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.languages__h1.active::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.languages__blok {
  opacity: 0;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.languages__blok ul {
  position: absolute;
  background-color: #000000;
  padding: 0;
  width: 60px;
  padding: 10px;
  border-radius: 5px;
  left: -10px;
  top: 0;
}

.languages__blok ul li {
  list-style: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}

.languages__blok ul li:hover {
  color: #FFB548;
}

.languages__blok.active {
  opacity: 0.8;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*--------------------main---------------------*/
.title {
  color: white;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 80px;
  font-family: 'Bebas Neue', sans-serif;
}

.sub-title {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 25px;
  font-family: 'Bebas Neue', sans-serif;
}

.main__inner {
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 360px;
}

@media (max-width: 633px) {
  .main__inner {
    margin-bottom: 280px;
  }
}

.main__title {
  color: white;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  line-height: 80px;
}

.main__sub-title {
  color: white;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 25px;
}

.button {
  width: 260px;
  height: 60px;
  background-color: #FFB548;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 auto;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.button:hover {
  -webkit-box-shadow: 5px 5px 5px black;
          box-shadow: 5px 5px 5px black;
}

.but {
  text-decoration: none;
  color: #000000;
  position: relative;
  cursor: pointer;
}

.but span {
  margin-left: 10px;
}

.but::after {
  content: '';
  width: 1px;
  height: 24px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
  right: 80px;
  top: 1px;
}

.main__story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}

.main__story span {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.main__story img {
  width: 21px;
  height: 9px;
}

/*-----------Info----------*/
.info__bg {
  background: url("../img/What/bg2.jpg") 0 0/100% 100% no-repeat;
  height: 960px;
}

@media (max-width: 1024px) {
  .info__bg {
    background: url("../img/What/bg2.jpg") 0 0/auto 100% no-repeat;
  }
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 200px;
}

@media (max-width: 1200px) {
  .info__inner {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.info__text {
  padding-top: 50px;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .info__text {
    text-align: center;
    width: 100%;
    margin-right: 0;
  }
}

.info__sub-title h3 {
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .info__sub-title h3 {
    text-align: center;
    margin-bottom: 10px;
  }
}

.info__title {
  position: relative;
}

.info__title h1 {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 20px;
}

.info__title::before {
  position: absolute;
  content: '';
  width: 710px;
  height: 3px;
  background-color: #fff;
  bottom: 0;
  z-index: 10;
}

@media (max-width: 1200px) {
  .info__title::before {
    left: 0;
    width: 510px;
    right: 0;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .info__title::before {
    width: 320px;
  }
}

.info__description {
  margin-bottom: 20px;
}

.info__description p {
  position: relative;
  text-transform: none;
  margin-left: 185px;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: normal;
  max-width: 365px;
  z-index: 2;
}

@media (max-width: 1200px) {
  .info__description p {
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
}

.info__description p::before {
  position: absolute;
  content: '';
  width: 122px;
  height: 5px;
  background-color: #FFB548;
  bottom: 0;
  right: 34px;
  z-index: 1;
}

@media (max-width: 1200px) {
  .info__description p::before {
    right: 135px;
  }
}

.slider {
  max-width: 550px;
  position: relative;
}

@media (max-width: 1200px) {
  .slider {
    margin-right: 300px;
  }
}

@media (max-width: 550px) {
  .slider {
    margin-right: 200px;
  }
}

.slider__slide {
  width: 500px;
  position: absolute;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media (max-width: 1200px) {
  .slider__slide {
    max-width: 400px;
  }
}

@media (max-width: 550px) {
  .slider__slide {
    max-width: 300px;
  }
}

@media (max-width: 400px) {
  .slider__slide {
    max-width: 280px;
  }
}

.slider__next {
  position: absolute;
  width: 14px;
  height: 34px;
  left: 530px;
  top: 50%;
  margin-top: 17px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .slider__next {
    margin-top: 242px;
    left: 400px;
  }
}

@media (max-width: 550px) {
  .slider__next {
    left: 290px;
    margin-top: 150px;
  }
}

@media (max-width: 410px) {
  .slider__next {
    left: 240px;
  }
}

.pag {
  position: absolute;
  z-index: 999;
  bottom: -100px;
  left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pag__but:last-child button.active::after {
  width: 0;
}

.pag__but button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  cursor: pointer;
}

.pag__but button:focus {
  outline: none;
}

.pag__but button.active {
  background-color: #fff;
  position: relative;
  width: 16px;
  height: 16px;
}

.pag__but button.active::after {
  position: absolute;
  content: '';
  width: 58px;
  height: 1px;
  background-color: #fff;
}

.pag__but + .pag__but {
  margin-left: 50px;
}

/*---------------Features-----------------*/
.features__back {
  height: 960px;
  background: url("../img/Futures/Group.png") 0 0/auto 100% no-repeat;
}

@media (max-width: 1024px) {
  .features__back {
    background: url("../img/Futures/Group.png") 0 0/auto 100% no-repeat;
  }
}

.features__text {
  color: #fff;
  margin-left: auto;
  margin-right: 100px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  max-width: 450px;
  padding-top: 185px;
}

@media (max-width: 450px) {
  .features__text {
    margin-right: 0;
  }
}

.features__sub-title {
  font-size: 24px;
  line-height: 1;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.features__title {
  font-size: 80px;
  line-height: 1;
  letter-spacing: 3px;
  margin-bottom: 45px;
}

@media (max-width: 400px) {
  .features__title {
    font-size: 65px;
  }
}

.features__tabs {
  max-width: 485px;
}

.features__block {
  padding-left: 50px;
  margin-bottom: 40px;
}

.features__tabs-title {
  font-size: 36px;
  line-height: 1;
  color: #FFB548;
  letter-spacing: 2px;
  cursor: pointer;
  position: relative;
}

.features__tabs-title::before {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #fff;
  left: -45px;
  top: 10px;
}

.features__tabs-title.active::before {
  background-color: #fff;
}

.features__tabs-height {
  height: 0px;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.features__tabs-height.active {
  height: 100px;
}

.features__tabs-height.active .features__block {
  margin: 0;
}

.features__tabs-text {
  font-size: 18px;
  line-height: 22px;
  font-family: 'Open Sans';
  font-weight: 400;
  padding-top: 10px;
  -webkit-transform: translateY(-90px);
          transform: translateY(-90px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.features__tabs-text.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

/*--------------Requirements-----------------*/
.requirements {
  color: #fff;
}

.requirements__back {
  height: 960px;
  background: url("../img/Requirements/bg.png") 0 0/auto 100% no-repeat;
}

@media (max-width: 1024px) {
  .requirements__back {
    background: url("../img/Requirements/bg.png") 0 0/auto 100% no-repeat;
  }
}

.requirements__text {
  padding-top: 145px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 145px;
  font-weight: 700;
  text-align: center;
}

.requirements__text h3 {
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1;
}

.requirements__text h1 {
  font-size: 80px;
  letter-spacing: 3px;
  line-height: 1;
}

@media (max-width: 1024px) {
  .requirements__text h1 {
    font-size: 60px;
  }
}

.requirements__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.requirements__inner:last-child .requirements__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 550px;
          flex: 0 1 550px;
}

.requirements__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px;
  padding: 15px;
  border: 1px solid #323435;
}

.requirements__block h4 {
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFB548;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
}

.requirements__block p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.requirements__tabel {
  max-width: 573px;
}

.requirements__tabel tr td {
  max-width: 277px;
  padding: 15px;
  border: 1px solid #979797;
}

.requirements__tabel tr:last-child td {
  border-right: none;
}

.requirements__tabel tr:last-child td p {
  width: 573px;
}

.quotes__back {
  background: url("../img/quotes/bg5.png") 0 0/auto 100% no-repeat;
  background-position: center;
}

@media (max-width: 1024px) {
  .quotes__back {
    background: url("../img/quotes/bg5.png") 0 0/auto 100% no-repeat;
  }
}

.quotes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  padding-top: 115px;
}

@media (max-width: 1024px) {
  .quotes__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.quotes__text {
  max-width: 435px;
  padding-top: 145px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.quotes__title {
  margin-bottom: 50px;
}

.quotes__par {
  margin-bottom: 60px;
  font-size: 18px;
}

.quotes .button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.quotes .but::after {
  width: 0;
}

.coments {
  margin: 0 auto;
  margin-bottom: 150px;
}

@media (max-width: 600px) {
  .coments {
    margin: 0;
  }
}

.coments__coment {
  width: 452px;
  height: 183px;
  background-color: #191A1A;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
  margin-left: auto;
}

.coments__coment:nth-child(2) {
  margin-right: 100px;
}

@media (max-width: 460px) {
  .coments__coment {
    width: 320px;
  }
}

.coments__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.coments__logo {
  margin-right: 30px;
  position: relative;
  width: 61px;
}

.coments__logo .logo-img {
  width: 61px;
}

.coments__logo img {
  position: absolute;
  top: 0;
  width: 61px;
  height: 61px;
  z-index: 22;
}

.coments__logo-ellipse {
  position: absolute;
  width: 61px;
  height: 61px;
  background-color: #FFB548;
  border-radius: 50%;
  left: 9px;
  top: 2px;
  z-index: 0;
}

.coments__text-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.coments__text-inner div {
  margin-left: 207px;
  width: 18px;
  height: 14px;
}

@media (max-width: 460px) {
  .coments__text-inner div {
    margin-left: 100px;
  }
}

.coments__text-inner h1 {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 2px;
  color: #FFB548;
}

.coments__prof {
  color: #8C8C8D;
  font-size: 18px;
}

.coments__in {
  margin-bottom: 20px;
}

.coments__in p {
  font-size: 18px;
}

.coments__data {
  font-size: 14px;
  font-weight: 400;
  color: #8C8C8D;
}

/*-------------newsletter------------*/
.newsletter__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .newsletter__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.newsletter__text {
  max-width: 697px;
}

.newsletter__title {
  margin-bottom: 65px;
}

@media (max-width: 400px) {
  .newsletter__title {
    font-size: 65px;
  }
}

.newsletter .par {
  margin-bottom: 70px;
}

.newsletter__inner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1024px) {
  .newsletter__inner-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.newsletter .but {
  background-color: transparent;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.newsletter .but:focus {
  outline: none;
}

.newsletter .but::after {
  width: 0;
}

.newsletter form {
  width: 366px;
}

@media (max-width: 1024px) {
  .newsletter form {
    margin-bottom: 15px;
  }
}

@media (max-width: 400px) {
  .newsletter form {
    width: 310px;
  }
}

.newsletter form .email {
  width: 366px;
  height: 60px;
  color: #FFB548;
  background-color: #1B1D1E;
  border: none;
  border-radius: 5px;
  position: relative;
  padding-left: 20px;
  font-size: 18px;
}

@media (max-width: 400px) {
  .newsletter form .email {
    width: 310px;
  }
}

.newsletter form .email::-webkit-input-placeholder {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  font-size: 14px;
}

.newsletter form .email:-ms-input-placeholder {
  transform: translateY(-15px);
  font-size: 14px;
}

.newsletter form .email::-ms-input-placeholder {
  transform: translateY(-15px);
  font-size: 14px;
}

.newsletter form .email::placeholder {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  font-size: 14px;
}

/*-----------Footer---------------*/
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #838485;
  padding-bottom: 30px;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact img + img {
  margin-left: 55px;
}

@media (max-width: 400px) {
  .footer__contact img + img {
    margin-left: 30px;
  }
}

.footer__info-inner {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 40px;
}

.footer__info-inner span {
  color: #838485;
  font-size: 14px;
}

.footer__info-inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__info-inner ul li {
  list-style: none;
  padding-right: 10px;
  line-height: 1;
}

.footer__info-inner ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

.footer__info-inner ul li + li {
  padding-left: 10px;
  border-left: 1px solid #fff;
}
